{{#unless @root.data.isAdmin ~}}
<p class="empty-title h5">
  {{#compare (sumArray (pluck @root.data.tasksInfo "hours")) 0 ~}}
  You haven't logged any volunteering yet
  {{else}}
  You have logged {{inflect (round (sumArray (pluck @root.data.tasksInfo "hours")) "down") "hour" "hours" true}} so far
  {{/compare ~}}
</p>

{{#unless (compare (sumArray (pluck @root.data.tasksInfo "hours")) 0) ~}}
<p class="empty-subtitle achievements text-centre">
  {{#each @root.context.metaData.certificates ~}}
  {{#compare hours ">" 0 ~}}
  {{!-- It's already awarded --}}
  {{#compare (sumArray (pluck @root.data.tasksInfo "hours_verified")) ">=" hours ~}}
  {{else}}
  {{#compare (sumArray (pluck @root.data.tasksInfo "hours")) ">=" hours ~}}
  {{#unless (compare @root.data.verifyHoursInfo.award ">=" hours) ~}}
  <span class="working-towards"><a href="/achievements">{{hours}} hour certificate available!</a></span>
  {{/unless ~}}
  {{else}}
  <span class="working-towards">You need to do {{subtract hours (sumArray (pluck @root.data.tasksInfo "hours"))}} more {{inflect (subtract hours (sumArray (pluck @root.data.tasksInfo "hours"))) "hour" "hours"}} of volunteering to reach your next award</span>
  {{/compare ~}}
  {{/compare ~}}
  {{/compare ~}}
  {{/each ~}}
</p>
{{/unless ~}}

<p class="empty-subtitle text-centre">
  {{> log_age_limit}}
</p>
{{/unless ~}}