{{#unless @root.data.isAdmin ~}}
<p class="empty-title h5">
  {{#compare (sumArray (pluck @root.data.tasksInfo "hours")) 0 ~}}
  You haven't logged any volunteering yet
  {{else}}
  You have logged {{inflect (sumArray (pluck @root.data.tasksInfo "hours")) "hour" "hours" true}} so far
  {{/compare ~}}
</p>

{{#unless (compare (sumArray (pluck @root.data.tasksInfo "hours")) 0) ~}}
<p class="empty-subtitle achievements text-centre">
  {{#each @root.context.metaData.certificates ~}}
  {{#compare (sumArray (pluck @root.data.tasksInfo "hours")) "<" hours ~}}
  <span class="working-towards">You need to do {{subtract hours (sumArray (pluck @root.data.tasksInfo "hours"))}} more {{inflect (subtract hours (sumArray (pluck @root.data.tasksInfo "hours"))) "hour" "hours"}} of volunteering to reach your next award</span>
  {{else}}
  <span class="working-towards"></span>
  {{/compare ~}}
  {{/each ~}}
</p>
{{/unless ~}}

{{#if (compare (dateMath 'now-25y') ">" (moment @root.data.accountInfo.date_of_birth "YYYY-MM-DD")) ~}}
  <span class="working-towards over-age">As you are now over 25 years old, you may now only log past hours. Please add a note giving the date of these hours</span>
{{/if}}

{{/unless ~}}