{{#if paging.totalResults ~}}
<div class="search-info label t-margin">
  <strong>
    {{addCommas paging.totalResults}}
  </strong>
  {{inflect paging.totalResults "opportunity" "opportunities"}}
  for age
  {{#unless @root.data.accountInfo.date_of_birth ~}}
  18+
  {{else}}
  {{#if @root.request.params.query.age ~}}
  {{@root.request.params.query.age}}+
  {{else}}
  {{#ifAll (compare (dateMath 'now-12y') '>=' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD')) (compare (dateMath 'now-13y') '<' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD'))}}12+{{/ifAll}}
  {{#ifAll (compare (dateMath 'now-13y') '>=' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD')) (compare (dateMath 'now-14y') '<' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD'))}}13+{{/ifAll}}
  {{#ifAll (compare (dateMath 'now-14y') '>=' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD')) (compare (dateMath 'now-15y') '<' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD'))}}14+{{/ifAll}}
  {{#ifAll (compare (dateMath 'now-15y') '>=' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD')) (compare (dateMath 'now-16y') '<' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD'))}}15+{{/ifAll}}
  {{#ifAll (compare (dateMath 'now-16y') '>=' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD')) (compare (dateMath 'now-17y') '<' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD'))}}16+{{/ifAll}}
  {{#ifAll (compare (dateMath 'now-17y') '>=' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD')) (compare (dateMath 'now-18y') '<' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD'))}}17+{{/ifAll}}
  {{#compare (dateMath 'now-18y') '>=' (moment @root.data.accountInfo.date_of_birth 'YYYY-MM-DD')}}18+{{/compare}}
  {{/if ~}}
  {{/unless}}
  on
  <a href="https://search.volunteerscotland.net{{@root.request.url.path}}{{#unless @root.request.params.query.age}}{{#compare @root.request.url.path '/search'}}?{{else}}&amp;{{/compare}}age=18{{/unless}}">Volunteer Scotland</a>
  {{if @root.request.params.query.exclude "(filtered)"}}
  {{#compare @root.route.name "!==" "opportunity_map" ~}}
  {{#compare paging.totalResults ">" 10 ~}} -
  <span class="hide-sm">showing</span>
  page {{addCommas paging.currentPage}} of {{addCommas paging.totalPages}}
  {{/compare ~}}
  {{/compare ~}}
  {{#if @root.request.params.query.exclude ~}}
  <a href="/search?{{{querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null exclude=null}}}">Show all</a>
  {{/if ~}}
</div>
{{else}}
{{#ifAny @root.request.params.query.keywords @root.request.params.query.location @root.request.params.query.activities @root.request.params.query.themes @root.request.params.query.age ~}}
<div class="search-info">
  No results could be found, please try a different search query
</div>
{{/ifAny ~}}
{{/if ~}}