<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
  <meta charset="utf-8">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YBR3JYL23X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YBR3JYL23X', {
      'send_page_view': true,
      'anonymize_ip': true,
      'cookieDomain': 'none',
      'custom_map': {
        'dimension1': 'hit_type',
        'dimension2': 'parent_document'
      }
    });
  </script>

  {{{layoutParts.head}}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--

  Powered by:
      ███████╗ ██████╗██╗   ██╗ ██████╗  ██╗   ██████╗  ██████╗ ██╗   ██╗████████╗███████╗██████╗
     ██╔════╝██╔════╝██║   ██║██╔═══██╗ ╚██╗  ██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔════╝██╔══██╗
    ███████╗██║     ██║   ██║██║   ██║  ╚██╗ ██████╔╝██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
   ╚════██║██║     ╚██╗ ██╔╝██║   ██║  ██╔╝ ██╔══██╗██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
  ███████║╚██████╗ ╚████╔╝ ╚██████╔╝ ██╔╝  ██║  ██║╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
  ╚══════╝ ╚═════╝  ╚═══╝   ╚═════╝ ╚═╝   ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

  -->

  <link rel="apple-touch-icon" sizes="120x120" href="{{~>asset_url url='images/icons/apple-touch-icon.png'~}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{~>asset_url url='images/icons/favicon-32x32.png'~}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{~>asset_url url='images/icons/favicon-16x16.png'~}}">
  <link rel="manifest" href="{{~>asset_url url='images/icons/site.webmanifest'~}}">
  <link rel="mask-icon" href="{{~>asset_url url='images/icons/safari-pinned-tab.svg'~}}" color="#1b2875">
  <link rel="shortcut icon" href="{{~>asset_url url='images/icons/favicon.ico'~}}">
  <meta name="msapplication-TileColor" content="#1b2875">
  <meta name="msapplication-config" content="{{~>asset_url url='images/icons/browserconfig.xml'~}}">
  <meta name="theme-color" content="#ffffff">

  {{#if (contains request.params.uri.pathname '/search/opportunity')}}
    <link rel="canonical" href="https://volunteer.scot{{replace request.params.uri.pathname '/search/opportunity/' '/search/'}}" />
  {{else}}
    <link rel="canonical" href="https://saltireawards.scot{{request.params.uri.pathname}}" />
  {{/if}}

  <link rel="search" type="application/opensearchdescription+xml" title="{{@root.context.metaData.title}}" href="{{~>asset_url url='opensearch.xml'~}}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.8.3/polyfill.min.js"></script>
  <script>
  {{#ifAny request.params.query.debug (contains request.url.hostname ".local") ~}}
    console.log('#### DEBUG MODE ON ####');
    console.log('Request:', {{{regexReplace (regexReplace (stringify request) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    console.log('Route:', {{{regexReplace (regexReplace (stringify route) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    console.log('Context:', {{{regexReplace (regexReplace (stringify context) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    console.log('Data:', {{{regexReplace (regexReplace (stringify data) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    console.log('Menus:', {{{regexReplace (regexReplace (stringify @root.context.metaData.menus) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    {{#if errors.[0]}}
      console.error('Task Errors:', {{{regexReplace (regexReplace (stringify errors) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
    {{/if}}
  {{/ifAny ~}}
  </script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

  <style>
    @font-face {
      font-family: 'Sonder Sans 3';
      src: url('{{~>asset_url url='fonts/Sonder-Sans3.eot'~}}');
      src: url('{{~>asset_url url='fonts/Sonder-Sans3.eot#iefix'~}}') format('embedded-opentype'),
          url('{{~>asset_url url='fonts/Sonder-Sans3.woff2'~}}') format('woff2'),
          url('{{~>asset_url url='fonts/Sonder-Sans3.woff'~}}') format('woff'),
          url('{{~>asset_url url='fonts/Sonder-Sans3.eot'~}}') format('truetype'),
          url('{{~>asset_url url='fonts/Sonder-Sans3.svg#Sonder-Sans3'~}}') format('svg');
      font-weight: normal;
      font-style: normal;
    }
  </style>

  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/leaflet/leaflet.css'~}}" />
  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/fontawesome-pro/css/all.min.css'~}}" />
  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='main.css'}}" />
</head>
<body>
  {{!-- {{#unless (contains request.url.hostname ".local") ~}}
  <div class="text-white bg-warning text-centre v-padding">
    This website is currently in development, but it will send emails so please only use your own email addresses when testing. Any accounts you create will be deleted by w/c 9th March.
  </div>
  {{/unless ~}} --}}
  <div class="page">
  {{#ifAny request.params.query.debug (contains request.url.hostname ".local") ~}}
    {{#if errors.[0]}}
      <div style="z-index:100;position:fixed;top:0;right:0;padding:5px;background-color:#ff0000;color:#ffffff;">
        Route Task Errors (F12)
      </div>
      {{/if}}
      {{#if logs.[0]}}
      <div style="z-index:100;position:fixed;bottom:0;right:0;padding:5px;background-color:#0000ff;color:#ffffff;" onclick="document.querySelector('#route-debug-log').style.display='block';">
        Route Log
      </div>
      <div style="z-index:100;position:fixed;bottom:0;left:0;right:0;padding:5px;background-color:#ededed;color:#000000;overflow:auto;height:50vh;display:none;border-top:1px solid #cccccc;" id="route-debug-log">
        <a style="position:fixed;right:25px;" onclick="document.querySelector('#route-debug-log').style.display='none';">x</a>
<pre style="white-space: pre-wrap;">
{{~#each logs}}
{{{this}}}

{{/each~}}
</pre>
      </div>
    {{/if}}
  {{/ifAny}}

    <header class="container">
      <section class="brand">
        <a href="/" class="logo"><img src="{{~>asset_url url='images/logos/saltire-awards-white.svg'~}}" alt="{{@root.context.metaData.title}}" /></a>
      </section>
      <div class="mobile-menu-button show-lg">
        <a href="javascript:void()" class="btn btn-link" aria-label="Menu" data-component="TasksTrigger"
          data-TasksTrigger='{
            click: {
              tasks: [
              {
                type: "elementManipulator",
                config: {
                  ".mobile-menu": {
                    "removeClass": "mobile-menu_closed mobile-menu_closing",
                    "addClass": "mobile-menu_open"
                  }
                }
              }
              ]
            }
          }'>
          <span class="far fa-bars fa-2x" aria-hidden="true"></span>
        </a>
      </div>
      <section class="nav hide-lg">
        <div class="main-menu">
          {{#if @root.data.auth ~}}
            {{#ifAll @root.data.accountInfo.user_type (compare @root.data.accountInfo.approval_needed false) ~}}
              {{#each @root.context.metaData.menus.main-signed-in ~}}
                <a href="{{stripTrailingSlash path}}" class="btn btn-link{{#if (regexMatch @root.request.url.pathname route 'gi')}} btn-active{{/if}}">{{label}}</a>
              {{/each}}
              <div class="dropdown my-account signed-in">
                <div class="btn-group">
                  <a href="#" class="btn dropdown-toggle">
                    {{#if @root.data.auth.photoURL ~}}
                      <img src="{{@root.data.auth.photoURL}}" class="avatar avatar-sm" />
                    {{else}}
                      <span class="far fa-fw fa-user-circle"></span>
                    {{/if ~}}
                    {{default @root.data.auth.email @root.data.auth.displayName}}
                    <span class="far fa-fw fa-angle-down"></span>
                  </a>
                  <ul class="menu">
                    <li class="menu-item">
                      <a href="/" class="l-padding-full {{#compare @root.request.url.pathname '/'}} active{{/compare}}{{#if @root.data.accountInfo.approval_needed}} disabled{{/if}}">
                        <span class="far fa-fw fa-home" aria-hidden="true"></span>
                        Home
                      </a>
                    </li>
                    {{#each @root.context.metaData.menus.user-signed-in ~}}
                      {{#if (contains user-types @root.data.accountInfo.user_type) ~}}
                        <li class="menu-item">
                          <a href="{{stripTrailingSlash path}}" class="l-padding-full {{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                            {{#if icon ~}}
                            <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                            {{/if ~}}
                            {{{label}}}
                          </a>
                          {{!-- {{#if public_checkbox ~}}
                          <div class="menu-badge">
                            <label class="form-switch">
                              <input type="checkbox">
                              <i class="form-icon"></i> Public
                            </label>
                          </div>
                          {{/if ~}} --}}
                        </li>
                      {{/if ~}}
                    {{/each ~}}
                    <li class="menu-item">
                      <a href="/sign-out" class="l-padding-full" data-component="TasksTrigger" data-TasksTrigger="sign-out">
                        <span class="far fa-fw fa-sign-out-alt" aria-hidden="true"></span>
                        Sign out
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            {{else}}
              <a href="/" class="btn btn-link{{#if (regexMatch @root.request.url.pathname '^/$' 'gi')}} btn-active{{/if}}">Home</a>
              {{#each @root.context.metaData.menus.main-not-signed-in ~}}
                <a href="{{stripTrailingSlash path}}" class="btn btn-link{{#if (regexMatch @root.request.url.pathname route 'gi')}} btn-active{{/if}}">{{label}}</a>
              {{/each}}
              <a href="/sign-out" class="btn btn-link" data-component="TasksTrigger" data-TasksTrigger="sign-out">Sign out</a>
            {{/ifAll ~}}
          {{else}}
            <a href="/" class="btn btn-link{{#if (regexMatch @root.request.url.pathname '^/$' 'gi')}} btn-active{{/if}}">Home</a>
            {{#each @root.context.metaData.menus.main-not-signed-in ~}}
              <a href="{{stripTrailingSlash path}}" class="btn btn-link{{#if (regexMatch @root.request.url.pathname route 'gi')}} btn-active{{/if}}">{{label}}</a>
            {{/each}}
            {{#each @root.context.metaData.menus.user-not-signed-in ~}}
              <a href="{{stripTrailingSlash path}}" class="btn btn-link{{#if (regexMatch @root.request.url.pathname route 'gi')}} btn-active{{/if}} my-account not-signed-in">{{label}}</a>
            {{/each}}
          {{/if ~}}
        </div>
      </section>
      <section class="page-title">
        <h1>
          {{> page_title location="body"}}
        </h1>
      </section>
    </header>

    <div class="mobile-menu mobile-menu_closed">
      <div class="mobile-menu_background" data-component="TasksTrigger" data-TasksTrigger='{
        click: {
          tasks: [
            {
              type: "elementManipulator",
              config: {
                ".mobile-menu": {
                  removeClass: "mobile-menu_open",
                  addClass: "mobile-menu_closing"
                }
              }
            },
            {
              type: "delay",
              config: {
                "500": [
                  {
                    type: "elementManipulator",
                    config: {
                      ".mobile-menu": {
                        addClass: "mobile-menu_closed",
                        removeClass: "mobile-menu_closing"
                      }
                    }
                  }
                ]
              }
            }
          ]
        }
      }'></div>
      <aside class="mobile-menu_contents sidebar">
        <div class="b-margin-full b-padding-full v-padding">
          <h2 class="l-padding-full">
            Menu
            <span class="far fa-angle-left fa-fw pull-right" data-component="TasksTrigger" data-TasksTrigger='{
              click: {
                tasks: [
                  {
                    type: "elementManipulator",
                    config: {
                      ".mobile-menu": {
                        removeClass: "mobile-menu_open",
                        addClass: "mobile-menu_closing"
                      }
                    }
                  },
                  {
                    type: "delay",
                    config: {
                      "500": [
                        {
                          type: "elementManipulator",
                          config: {
                            ".mobile-menu": {
                              addClass: "mobile-menu_closed",
                              removeClass: "mobile-menu_closing"
                            }
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            }'></span>
          </h2>
          <ul class="menu">
            <li class="menu-item">
              <a href="/" class="l-padding-full {{#if (regexMatch @root.request.url.pathname '^/$' 'gi')}}active{{/if}}">
                <span class="far fa-fw fa-home" aria-hidden="true"></span>
                Home
              </a>
            </li>
            {{#if @root.data.auth ~}}
              {{#each @root.context.metaData.menus.user-signed-in ~}}
              {{#if (contains user-types @root.data.accountInfo.user_type) ~}}
                <li class="menu-item">
                  <a href="{{stripTrailingSlash path}}" class="l-padding-full{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                    {{#if icon ~}}
                    <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                    {{/if ~}}
                    {{label}}
                  </a>
                  {{!-- {{#if public_checkbox ~}}
                  <div class="menu-badge">
                    <label class="form-checkbox">
                      <input type="checkbox">
                      <i class="form-icon"></i> Public
                    </label>
                  </div>
                  {{/if ~}} --}}
                </li>
              {{/if ~}}
              {{/each ~}}
              {{#each @root.context.metaData.menus.main-signed-in ~}}
                <li class="menu-item">
                  <a href="{{stripTrailingSlash path}}" class="l-padding-full{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                    {{#if icon ~}}
                    <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                    {{/if ~}}
                    {{label}}
                  </a>
                </li>
              {{/each ~}}
              <li class="menu-item">
                <a href="/sign-out" class="l-padding-full" data-component="TasksTrigger" data-TasksTrigger="sign-out">
                  <span class="far fa-fw fa-sign-out-alt" aria-hidden="true"></span>
                  Sign out
                </a>
              </li>
            {{else}}
              {{#each @root.context.metaData.menus.main-not-signed-in ~}}
                <li class="menu-item">
                  <a href="{{stripTrailingSlash path}}" class="l-padding-full {{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                    {{#if icon ~}}
                    <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                    {{/if ~}}
                    {{label}}
                  </a>
                </li>
              {{/each ~}}
              {{#each @root.context.metaData.menus.user-not-signed-in ~}}
                <li class="menu-item">
                  <a href="{{stripTrailingSlash path}}" class="l-padding-full{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                    {{#if icon ~}}
                    <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                    {{/if ~}}
                    {{label}}
                  </a>
                </li>
              {{/each ~}}
            {{/if ~}}
          </ul>
        </div>
      </aside>
    </div>

    {{#ifAll layoutParts.sidebar @root.data.accountInfo.user_type (compare @root.data.accountInfo.approval_needed false) ~}}
    <div class="sidebar-present">
      <div class="columns col-gapless">
        <aside class="sidebar column col-2 col-lg-3 col-xl-3 hide-lg">
          {{{layoutParts.sidebar}}}
        </aside>
        <main class="body column col-xs-auto">
          {{{layoutParts.body}}}
        </main>
      </div>
    </div>
    {{else}}
    <div class="sidebar-not-present">
      <main class="body">
        {{{layoutParts.body}}}
      </main>
    </div>
    {{/ifAll ~}}

    <div id="toaster"></div>

    <footer class="footer">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="top">
        <polygon fill="{{@root.context.metaData.theme.footer}}" points="0,100 100,100 0,0" />
      </svg>
      <div class="footer-main">
        <div class="container">
          <div class="columns">
            <div class="column col-3 col-xl-6 col-md-12 info">
              <h4>Help</h4>
              <p class="b-margin">
                {{#ifAll @root.data.accountInfo.postcode (compare @root.data.accountInfo.user_sf_id "!==" "a1Z1p000009dUltEAE") ~}}
                  {{#with (getProperty @root.context.metaData.tsiList (slugify @root.data.accountInfo.local_authority)) ~}}
                    {{#each contacts ~}}
                      {{#if (regexMatch @root.data.accountInfo.postcode pattern "gi") ~}}
                        <a href="{{fixUrl website}}" target="_blank">{{title}}</a>
                      {{/if ~}}
                    {{/each ~}}
                  {{/with ~}}
                {{else}}
                  The local Third Sector Interface in your area
                {{/ifAll ~}}
                {{#unless @root.route.metaData.external}}
                  manages your personal data in relation to the {{@root.context.metaData.title}}.
                {{else}}
                  manages this volunteer's account in relation to the {{@root.context.metaData.title}}.
                {{/unless}}
              </p>
              <ul class="b-margin">
                {{#ifAll @root.data.accountInfo.user_type (compare @root.data.accountInfo.approval_needed false) ~}}
                  {{#each @root.context.metaData.menus.footer-help ~}}
                    {{#if (contains user-types @root.data.accountInfo.user_type) ~}}
                      <li>
                        <a href="{{stripTrailingSlash path}}">{{{label}}}</a>
                      </li>
                    {{/if ~}}
                  {{/each ~}}
                {{/ifAll ~}}
                {{#each @root.context.metaData.menus.footer-help ~}}
                  <li>
                    <a href="{{stripTrailingSlash path}}">{{{label}}}</a>
                  </li>
                {{/each ~}}
              </ul>
            </div>
            <div class="column col-3 col-xl-6 col-md-12 contact">
              <h4 class="hide-md">&nbsp;</h4>
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><span class="fas fa-envelope"></span></span>
                  {{#ifAll @root.data.accountInfo.postcode (compare @root.data.accountInfo.user_sf_id "!==" "a1Z1p000009dUltEAE") ~}}
                    {{#with (getProperty @root.context.metaData.tsiList (slugify @root.data.accountInfo.local_authority)) ~}}
                      {{#each contacts ~}}
                        {{#if (regexMatch @root.data.accountInfo.postcode pattern "gi") ~}}
                          <a href="mailto:{{email}}">{{email}}</a>
                        {{/if ~}}
                      {{/each ~}}
                    {{/with ~}}
                  {{else}}
                    <a href="mailto:{{@root.context.metaData.contacts.admin}}">{{@root.context.metaData.contacts.admin}}</a>
                  {{/ifAll ~}}
                </li>
                {{#ifAll @root.data.accountInfo.postcode (compare @root.data.accountInfo.user_sf_id "!==" "a1Z1p000009dUltEAE") ~}}
                  {{#with (getProperty @root.context.metaData.tsiList (slugify @root.data.accountInfo.local_authority)) ~}}
                    {{#each contacts ~}}
                      {{#if (regexMatch @root.data.accountInfo.postcode pattern "gi") ~}}
                        {{#if phone ~}}
                          <li>
                            <span class="fa-li"><span class="fas fa-phone fa-flip-horizontal"></span></span>
                            <a href="tel:+44{{replace phone ' ' ''}}">{{phone}}</a>
                          </li>
                        {{/if ~}}
                        {{#if website ~}}
                          <li>
                            <span class="fa-li"><span class="fas fa-link"></span></span>
                            <a href="{{fixUrl website}}" target="_blank">{{replace (replace (replace website 'https://' '') 'http://' '') 'www.' ''}}</a>
                          </li>
                        {{/if ~}}
                        {{#if facebook ~}}
                          <li>
                            <span class="fa-li"><span class="fab fa-facebook"></span></span>
                            <a href="{{fixUrl facebook}}" target="_blank">Facebook</a>
                          </li>
                        {{/if ~}}
                        {{#if instagram ~}}
                          <li>
                            <span class="fa-li"><span class="fab fa-instagram"></span></span>
                            <a href="{{fixUrl instagram}}" target="_blank">Instagram</a>
                          </li>
                        {{/if ~}}
                        {{#if youtube ~}}
                          <li>
                            <span class="fa-li"><span class="fab fa-youtube"></span></span>
                            <a href="{{fixUrl youtube}}" target="_blank">YouTube</a>
                          </li>
                        {{/if ~}}
                        {{!-- {{#if twitter ~}}
                          <li>
                            <span class="fa-li"><span class="fab fa-twitter"></span></span>
                            <a href="{{fixUrl twitter}}" target="_blank">Twitter</a>
                          </li>
                        {{/if ~}} --}}
                      {{/if ~}}
                    {{/each ~}}
                  {{/with ~}}
                {{else}}
                  <li>
                    <span class="fa-li"><span class="fab fa-twitter"></span></span>
                    <a href="https://twitter.com/{{@root.context.metaData.twitter}}" target="_blank">Twitter</a>
                  </li>
                {{/ifAll ~}}
              </ul>
            </div>
            <div class="column col-6 col-xl-12 about">
              <h4>About</h4>
              <p class="b-margin">
                The {{@root.context.metaData.title}} is run by Scotland's <a href="https://www.gov.scot/policies/third-sector/third-sector-interfaces">Third Sector Interfaces</a> and supported by the <a href="https://www.gov.scot/policies/third-sector">Scottish Government</a> and the <a href="https://scvo.scot">Scottish Council for Voluntary Organisations</a>.
              </p>
              {{!-- <ul>
                {{#each @root.context.metaData.menus.footer-about ~}}
                  <li>
                    <a href="{{stripTrailingSlash path}}">{{{label}}}</a>
                  </li>
                {{/each ~}}
              </ul> --}}
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="mid">
          <polygon fill="{{@root.context.metaData.theme.approach}}" points="0,100 100,0 100,100" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="bottom">
          <polygon fill="{{@root.context.metaData.theme.copyright}}" points="0,100 100,0 100,100" />
        </svg>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="columns">
            <div class="copyright column col-8 col-xl-12">
              <p>
                &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation.<br />
                Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
              </p>
            </div>
            <div class="logos column col-4 col-xl-12">
              <a href="https://www.gov.scot/policies/third-sector" class="brand-logo sg-logo" title="Scottish Government">
                <img src="{{~>asset_url url='images/logos/SG_Quaternary_govscot_RGB.png'~}}" alt="Scottish Government" />
              </a>
              <a href="https://scvo.scot" class="brand-logo scvo-logo" title="Scottish Council for Voluntary Organisations">
                <img src="{{~>asset_url url='images/logos/scvo-secondary.svg'~}}" alt="Scottish Council for Voluntary Organisations" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  {{#each @root.context.metaData.handlebars.frontend.configs ~}}
  <script data-component-config="{{@key}}" type="javascript/blocked">
  {{{regexReplace (regexReplace this "^\s*return\s" "igm" "") "([^\\{])({{){2,}" "igm" "$1\\$2"}}}
  </script>
  {{/each ~}}

  {{#each @root.context.metaData.handlebars.frontend.tasks ~}}
  <script data-task="{{@key}}" type="javascript/blocked">
  {{{regexReplace (regexReplace this "^\s*return\s" "igm" "") "([^\\{])({{){2,}" "igm" "$1\\$2"}}}
  </script>
  {{/each ~}}

  {{#each @root.context.metaData.handlebars.frontend.partials ~}}
  <script data-partial="{{@key}}" type="javascript/blocked">
  {{{this}}}
  </script>
  {{/each ~}}

  <script type="text/javascript" src="{{~>asset_url url='component-manager.js'~}}"></script>
  <script type="text/javascript">
  var jQuery = $;
  window.firebaseTaskConfig = {
    upgradeTokenUrl: '/upgrade-token?token={idToken}',
    cookieName: 'sa_cookie'
  };
  firebase.initializeApp({
    "apiKey": "AIzaSyBdoW5NoWqvMFMUKufrPVvuaYtNrEIRY6k",
    "authDomain": "auth.saltireawards.scot",
    "databaseURL": "https://saltire-awards.firebaseio.com",
    "projectId": "saltire-awards",
    "storageBucket": "saltire-awards.appspot.com",
    "messagingSenderId": "940419868873"
  });

  $(document).ready(function() {
    if (is_touch_device()) {
      $(".dropdown-toggle").click(function(e) {
        e.preventDefault();
        $(".dropdown").addClass("active");
      });
    }
  });

  function is_touch_device() {
    var prefixes = ' -webkit- -moz- -o- -ms- '.split(' ');
    var mq = function (query) {
      return window.matchMedia(query).matches;
    }
    if (('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch) {
      return true;
    }
    var query = ['(', prefixes.join('touch-enabled),('), 'heartz', ')'].join('');
    return mq(query);
  }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#DEEFFB",
        "text": "#005EB8"
      },
      "button": {
        "background": "#005EB8"
      }
    },
    "theme": "edgeless",
    "position": "bottom-left",
    "content": {
      "message": "We use cookies to track anonymous usage statistics.",
      "href": "/cookies"
    }
  });
  </script>

  {{{layoutParts.foot}}}
</body>
</html>
