<div class="map-content" data-opportunity-id="{{Id}}" data-opportunity-layout="Map" data-opportunity-context="{{default viewContext 'Map'}}">
  <h4>
    <a href="/search/opportunity/{{Id}}/{{title_slug}}{{> query_search}}">{{title}}</a>
  </h4>
  <div class="post-info">
    {{#if organisation_name ~}}
    <div class="post-info-item post-info-organisation v-margin">
      {{{replace (replace organisation_name "'" "&apos;") "`" "&apos"}}}
    </div>
    {{/if ~}}
    {{#if map_postcode ~}}
    <div class="post-info-item post-info-postcode v-margin">
      Postcode: {{map_postcode}}
    </div>
    {{/if ~}}
    {{#if description ~}}
    <div style="max-height: 2.8rem;"  class="post-info-item post-info-description faded-overflow">
      {{{replace (replace description "'" "&apos;") "`" "&apos"}}}
    </div>
    {{/if ~}}
  </div>
  <div class="opportunity-link">
    <a href="/search/opportunity/{{Id}}/{{title_slug}}{{> query_search}}" class="btn btn-link">Find out more</a>
  </div>
</div>