<div class="container b-padding-full v-margin-full equal-height">
  <h1>
    {{#if @root.data.isAdmin ~}}
      {{@root.route.metaData.adminTitle}}
    {{else}}
      {{@root.route.metaData.title}}
    {{/if ~}}
  </h1>

  <h2>
    Actions
  </h2>
  {{#if @root.data.isAdmin ~}}
  <p>
    <a href="/hours" class="btn btn-primary">Volunteering groups</a>
  </p>
  {{else}}
  <p>
    <a href="/hours" class="btn btn-primary">My volunteering - submit hours</a>
    <a href="/search" class="btn">Find a volunteering opportunity</a>
  </p>
  {{/if ~}}

  <div class="divider b-margin-full"></div>

  <h2>
    Support &amp; information
  </h2>
  {{#if @root.data.accountInfo.postcode ~}}
  {{> local_contact_info}}
  {{else}}
  If you enter a postcode on your <a href="/settings">profile</a> you'll see local contact information here. Please see the <a href="/contact">contact us</a> page for all areas.
  {{/if ~}}
</div>

