
<div class="content-break">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#ebedfa" points="100,0 100,100 0,0"></polygon>
  </svg>
<div class="container">
  <div class="bg-error s-rounded x-padding b-margin-full hidden" id="active-form-message">
    <span id="form-message"></span>
  </div>

  <!--<div class="modal" id="confirm-modal">-->
  <!--<a href="#" class="modal-overlay" aria-label="Close"></a>-->
  <!--<div class="modal-container">-->
  <!--<div class="modal-body">-->
  <!--<div class="content">-->
  <!---->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->


  {{#if @root.request.params.task_id ~}}
    {{#each @root.data.tasksInfo ~}}
      {{#compare task_id @root.request.params.task_id ~}}
        <div class="task task-{{task_id}}">
          <div class="columns">
            <div class="column col-9 col-lg-12 col-xl-11">
              <h2 class="no-margin">
                {{{organisation_name}}}
              </h2>
            </div>
          </div>

        <div id="{{this.task_id}}-details" class="b-margin-full">
          {{#ifAny task_description location un_sustainable_development_goals ~}}
            <div class="columns">
              <div class="column col-9 col-lg-12 col-xl-11">
                {{#if task_description ~}}
                  <p>
                    {{{task_description}}}
                  </p>
                {{/if ~}}
                <ul class="fa-ul hours-info">
                  {{#if location ~}}
                    <li class="card-subtitle">
                      <span class="fa-li"><span class="far fa-map-marker-alt"></span></span>
                      <span class="text-gray">{{truncate location 140}}</span>
                    </li>
                  {{/if ~}}
                  {{#if un_sustainable_development_goals ~}}
                    <li class="card-subtitle">
                      <span class="fa-li"><span class="far fa-globe"></span></span>
                      <span class="text-gray">{{> sdg_label sdg=un_sustainable_development_goals}}</span>
                    </li>
                  {{/if ~}}
                  {{#if internal_reference ~}}
                    <li class="card-subtitle">
                      <span class="fa-li"><span class="far fa-hashtag"></span></span>
                      <span class="text-gray">{{truncate internal_reference 140}}</span>
                    </li>
                  {{/if ~}}

                  {{#compare (length hours_list) ">" 0 ~}}
                    <li class="card-subtitle">
                      <span class="fa-li"><span class="fas fa-file-csv"></span></span>
                      <a href="/task-csv/{{task_id}}/{{organisation_name_1}}-volunteers.csv" title="Download a CSV file of names, certificate types, and claim codes" download>Download participant details</a>
                    </li>
                  {{/compare ~}}
                </ul>
              </div>
            </div>
          {{/ifAny ~}}

          <div class="divider v-margin-full"></div>

          <h3>
            Participants
          </h3>

          {{#compare (length awards_list) ">" 0 ~}}
            <div class="columns">
              <div class="column col-4 hide-xl">
                <strong>Volunteer name</strong>
              </div>
              <div class="column col-3 hide-xl">
                <strong>Certificate</strong>
              </div>
              <div class="column col-2 hide-xl">
                <strong>Claim code</strong>
              </div>
              <div class="column col-1 hide-xl"></div>
              <div class="column col-2 col-xl-3 col-lg-4 col-md-6 col-sm-8 col-xs-9">
                <a href="/group-certificate/{{task_id}}" class="btn btn-primary btn-block b-margin">Download all</a>
              </div>
            </div>

            {{#each awards_list ~}}
              {{#ifAny group_award_first_name claim_code ~}}
                <div class="columns" id="{{award_id}}-row">
                  <div class="column col-2 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="form-group b-margin">
                      {{!-- <input {{#unless claim_code}}disabled{{/unless}} class="form-input inline-edit" name="group_award_first_name" value="{{{group_award_first_name}}}"> --}}
                      <span id="{{award_id}}-group_award_first_name">{{{group_award_first_name }}}</span>
                    </div>
                  </div>
                  <div class="column col-2 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="form-group b-margin">
                      {{!-- <input {{#unless claim_code}}disabled{{/unless}} class="form-input inline-edit" name="group_award_last_name" value="{{{group_award_last_name}}}"> --}}
                      <span id="{{award_id}}-group_award_last_name">{{{group_award_last_name }}}</span>
                    </div>
                  </div>
                  <div class="column col-3 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-7">
                    <div class="form-group b-margin">
                    <span id="{{award_id}}-award_level">
                      {{#each @root.context.metaData.certificates ~}}
                        {{#unless tsi_only ~}}
                          {{#compare api_name ../award_level ~}}
                            {{#ifAny (compare type "approach") (compare type "ascent") ~}}
                              {{type_name}}: {{hours}} hours
                            {{else}}
                              {{type_name}}
                            {{/ifAny ~}}
                          {{/compare ~}}
                        {{/unless ~}}
                      {{/each ~}}
                    </span>
                    </div>
                  </div>
                  <div class="column col-2 col-xl-3 col-lg-2 col-md-3 col-sm-6 col-xs-5">
                    {{#unless claim_code~}}
                      Claimed!
                    {{else}}
                      <mark class="claim-code">{{substr claim_code 0 10}}</mark>
                    {{/unless ~}}
                  </div>
                  <div class="column col-1 col-xl-2 col-lg-2 col-md-3 col-sm-4">
                    {{!-- {{#if claim_code ~}}
                    <button type="submit" class="btn btn-success btn-block inline-update-button b-margin" style="display:none;">Save</button>
                    {{/if ~}} --}}
                    {{#if claim_code ~}}
                      <button type="button" class="btn btn-block edit-button b-margin">Edit</button>
                      <div class="modal modal-sm" id="{{award_id}}">
                        <a href="#close" class="modal-overlay" data-component="TasksTrigger" data-TasksTrigger="{click: {tasks: ['hide-modal']}}" aria-label="Close"></a>
                        <div class="modal-container">
                          <div class="modal-form">
                            <div class="modal-header">
                              <a href="#close" class="btn btn-clear modal-close float-right" aria-label="Close" data-component="TasksTrigger" data-TasksTrigger="{click: {tasks: ['hide-modal']}}"></a>
                              <div class="modal-title h5">{{{group_award_first_name}}} {{{group_award_last_name}}}</div>
                            </div>
                            <form id="{{award_id}}" method="POST" action="/admin-update-individual-award?user_id={{@root.data.auth.uid}}" style="position:relative" class="inline-hours-form" data-award-id="{{award_id}}"  data-component="TasksTrigger" data-form-element=">"  data-next-task="close-and-complete" data-success-message="Participant details updated" data-TasksTrigger="ajax-form-handler">
                              <div class="modal-body">
                                <div class="content">

                                  <input type="hidden" name="task_id" value="{{../task_id}}">
                                  <input type="hidden" name="claim_code" value="{{claim_code}}">
                                  <input type="hidden" name="award_id" value="{{award_id}}">
                                  <input type="hidden" name="user_id" value="{{@root.data.auth.uid}}">
                                  <input type="hidden" name="un_sustainable_development_goals" value="{{../un_sustainable_development_goals}}">
                                  <input type="hidden" name="organisation_name_1" value="{{../organisation_name}}">

                                  <div class="form-group b-margin">
                                    <input id="{{award_id}}-modal-group_award_first_name" {{#unless claim_code ~}}disabled{{/unless}} class="form-input inline-edit" name="group_award_first_name" value="{{{group_award_first_name}}}">
                                  </div>
                                  <div class="form-group b-margin">
                                    <input id="{{award_id}}-modal-group_award_last_name"  {{#unless claim_code ~}}disabled{{/unless}} class="form-input inline-edit" name="group_award_last_name" value="{{{group_award_last_name}}}">
                                  </div>
                                  <div class="form-group b-margin">

                                    <select id="{{award_id}}-modal-award_level"  class="form-select hours" {{#unless claim_code~}}disabled{{/unless}} required name="award" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.award}}>
                                      {{#each @root.context.metaData.certificates ~}}
                                        {{#unless tsi_only ~}}
                                          <option value="{{api_name}}"{{#compare api_name ../award_level}} selected{{/compare}}>
                                            {{#ifAny (compare type "approach") (compare type "ascent") ~}}
                                              {{type_name}}: {{hours}} hours
                                            {{else}}
                                              {{type_name}}
                                            {{/ifAny ~}}
                                          </option>
                                        {{else}}
                                          {{#if @root.data.accountInfo.summit_certificate_permission ~}}
                                            <option value="{{api_name}}">
                                              {{type_name}}
                                            </option>
                                          {{/if ~}}
                                        {{/unless ~}}
                                      {{/each ~}}
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <textarea {{#unless claim_code~}}disabled{{/unless}} rows="3" placeholder="Description" cols="40" id="description_1" name="description_1" class="form-input" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.task_description}}>{{{default description_1 ../task_description}}}</textarea>
                                  </div>

                                  <div class="form-group">
                                    <textarea {{#unless claim_code~}}disabled{{/unless}} rows="3"  placeholder="Testimonial" cols="40" id="testimonial_1" name="testimonial_1" class="form-input" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.task_description}}>{{{default testimonial_1 ../testimonial}}}</textarea>
                                  </div>
                                </div>
                              </div>

                              <div class="modal-footer">
                                {{#if claim_code~}}
                                  <button type="submit" class="btn btn-success btn-block inline-update-button b-margin">Save</button>
                                  <button type="button" class="btn btn-error btn-block b-margin" data-component="TasksTrigger" data-TasksTrigger="{click: {tasks: ['form-to-confirm']}}">Remove</button>
                                {{/if ~}}
                              </div>
                            </form>

                          </div>
                          <div class="modal-confirm hidden">
                            <form>
                              <div class="modal-container">
                                <div class="modal-header">
                                </div>
                                <div class="modal-body">
                                <div class="content">
                                  <p>Please confirm that you wish to delete this award.</p>
                                  <p>If the claim code has already been issued, this award will not be claimable.</p>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-success btn-block inline-update-button b-margin" data-component="TasksTrigger" data-TasksTrigger="{click: {tasks: ['confirm-to-form']}}">Cancel</button>
                                <a href="/admin-delete-award?award_id={{award_id}}&user_id={{@root.data.auth.uid}}" class="btn btn-error btn-block b-margin" data-component="TasksTrigger" data-award-id="{{award_id}}"  data-success-hide="true" data-next-task="close-and-destroy"  data-next-action data-TasksTrigger="ajax-delete-handler">Confirm</a>
                              </div>

                            </div>
                            </form>
                          </div>
                        </div>
                        </form>
                      </div>
                    {{/if ~}}
                  </div>
                  <div class="column col-2 col-xl-2 col-lg-2 col-md-3 col-sm-4">
                    <a href="/group-certificate/{{../task_id}}/{{award_id}}/saltire-award-{{#compare hours 0}}challenge-certificate{{else}}{{#compare hours 1}}summit-certificate{{else}}for-{{hours}}-hours{{/compare}}{{/compare}}-{{slugify group_award_first_name}}{{#if group_award_last_name}}-{{slugify group_award_last_name}}{{/if}}.pdf" class="btn btn-block b-margin">Download</a>
                  </div>
                  {{!-- <div class="column col-1 col-xl-2 col-lg-2 col-md-3 col-sm-4">
                  {{#if claim_code ~}}
                  <a href="/admin-delete-hours?hours_id={{hours_id}}&user_id={{@root.data.auth.uid}}" class="btn btn-error btn-block b-margin" data-component="TasksTrigger" data-success-hide="true" data-TasksTrigger="ajax-delete-handler">Remove</a>
                  {{/if ~}}
                  </div> --}}
                {{!-- <div class="column col-1 col-xl-2 col-lg-2 col-md-3 col-sm-4">
                {{#if claim_code ~}}
                <a href="/admin-delete-hours?hours_id={{hours_id}}&user_id={{@root.data.auth.uid}}" class="btn btn-error btn-block b-margin" data-component="TasksTrigger" data-success-hide="true" data-TasksTrigger="ajax-delete-handler">Remove</a>
                {{/if ~}}
                </div> --}}
              </div>
            {{!-- </form> --}}

              {{/ifAny ~}}
            {{/each ~}}

            <!--<form action="/do-not-act/{{task_id}}?user_id={{@root.data.auth.uid}}" class="form-horizontal inline-hours-form" data-component="TasksTrigger" data-form-element=">" data-success-message="Skills updated" data-TasksTrigger="ajax-form-handler">-->
            <!--<div class="form-group">-->
            <!--<div class="col-4">-->
            <!--<label for="skills" class="form-label">-->
            <!--Skills developed-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="column col-7">-->
            <!--<div class="columns">-->
            <!--<div class="col-8">-->
            <!--<textarea rows="3" placeholder="What skills were used (NOT DEVELOPED YET)" disabled cols="40" id="skills" name="skills" class="form-input" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.skills}}>{{skills}}</textarea>-->
            <!--</div>-->
            <!--<div class="col-1"></div>-->
            <!--<div class="col-3">-->
            <!--<button type="submit" class="btn btn-success btn-block inline-update-button b-margin" style="display: none">Save</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->
          </div>
            <a href="#" class="btn btn-primary show-group-awards-form">
              Add more participants
            </a>
          {{/compare ~}}

          <form action="/admin-submit-group-awards" id="group-awards-form" method="POST" data-component="TasksTrigger" data-success-destination="/admin-group/{{task_id}}/{{slugify organisation_name}}" data-destination-include-id="false" data-TasksTrigger="ajax-form-handler"{{#compare (length awards_list) '>' 0}} style="display:none;"{{/compare}}>
            <div class="form-horizontal">
              <input type="hidden" name="task_id" value="{{task_id}}">
              <input type="hidden" name="un_sustainable_development_goals" value="{{un_sustainable_development_goals}}">
              <input type="hidden" name="description_1" value="{{task_description}}">
              <input type="hidden" name="organisation_name_1" value="{{organisation_name}}">
              <input type="hidden" name="testimonial_1" value="{{testimonial}}">

              <div class="form-group">
                <div class="col-4">Participant names</div>
                <div class="col-5">
                  <textarea rows="6" cols="30" maxlength="700" id="volunteers" pattern=".*\S.*" name="volunteers" class="form-input" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.task_description}}>{{@root.data.taskInfo.task_description}}</textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-4">Certificate to award</div>
                <div class="col-2">
                  <div class="form-group b-margin">
                    <select class="form-select" required id="award" name="award" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.award}}>
                      {{#each @root.context.metaData.certificates ~}}
                        {{#unless tsi_only ~}}
                          <option value="{{api_name}}"{{#compare api_name ../api_name}} selected{{/compare}}>
                            {{#ifAny (compare type "approach") (compare type "ascent") ~}}
                              {{type_name}}: {{hours}} hours
                            {{else}}
                              {{type_name}}
                            {{/ifAny ~}}
                          </option>
                        {{else}}
                          {{#if @root.data.accountInfo.summit_certificate_permission ~}}
                            <option value="{{api_name}}">
                              {{type_name}}
                            </option>
                          {{/if ~}}
                        {{/unless ~}}
                      {{/each ~}}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-4"></div>
                <div class="col-2">
                  <button id="detail-submit" type="submit" class="btn btn-primary b-margin-full" id="group-awards-submit">
                    Submit details
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      {{/compare ~}}
    {{/each ~}}
  {{/if ~}}
</div>




<script data-task="close-and-complete" type="javascript/blocked">
  {
    type: "multiTask",
    config: {
      tasks: [
        "populate",
        "confirm-to-form",
        "hide-modal",
      ]
    }
  }
</script>

<script data-task="close-and-destroy" type="javascript/blocked">
  {
    type: "multiTask",
    config: {
      tasks: [
        "destroy",
        "confirm-to-form",
        "hide-modal",
      ]
    }
  }
</script>

<script data-task="confirm-to-form" type="javascript/blocked">
      {
        type: "elementManipulator",
        __doNotCompile: true,
        config: {
         ".modal-confirm" : { addClass: "hidden" },
         ".modal-form" : { removeClass: "hidden" },
         }
      }
</script>

<script data-task="form-to-confirm" type="javascript/blocked">
      {
        type: "elementManipulator",
        __doNotCompile: true,
        config: {
         ".modal-confirm" : { removeClass: "hidden" },
         ".modal-form" : { addClass: "hidden" },
         }
      }
</script>


<script data-task="populate" type="javascript/blocked">
  {
  type: "multiTask",
  config: {
    tasks:[
      {
        type: "basic",
        name: "myid",
        config: {
          __template : "\{{{jquery rootElement 'data' (split 'award-id')}}}"
        }
      },
      {
        type: "elementManipulator",
        __doNotCompile: true,
        config: {
         "#\{{{data.myid}}}-group_award_first_name" : { contents: {__template : "\{{jquery (concat '#' data.myid '-modal-group_award_first_name') 'val'}}"} },
         "#\{{{data.myid}}}-group_award_last_name" : { contents: {__template : "\{{jquery (concat '#' data.myid '-modal-group_award_last_name') 'val'}}"} },
         "#\{{{data.myid}}}-award_level" : { contents: {__template : "\{{jquery (concat '#' data.myid '-modal-award_level option:selected') 'text'}}"} },

         }
      }
    ]
  }
}
</script>

<script data-task="destroy" type="javascript/blocked">
  {
  type: "multiTask",
  config: {
    tasks:[
      {
        type: "elementManipulator",
        __doNotCompile: true,
        config: {
         "#\{{{jquery rootElement 'data' (split 'award-id')}}}-row" : { addClass: "hidden" },
         }
      }
    ]
  }
}
</script>

<script data-task="hide-modal" type="javascript/blocked">
{
  type: "multiTask",
  config:
  {
    tasks:
    [
      {
        type: "elementManipulator",
        __doNotCompile: true,
        config: {
          "<.modal": { removeClass: "active" },
          "<.modal | >.alert": { addClass: "hidden" }
        }
      },
      "confirm-to-form"
    ]
  }
}

</script>



<script>
  document.addEventListener("DOMContentLoaded", function(event) {

    $('.edit-button').click(function(){
      var hours_id = $(this).closest('.column').find('.modal').attr('id');
      $('#'+hours_id).addClass('active');
    });
    
  });
</script>
