{{#if @root.data.isAdmin ~}}
<div class="empty">
  <div class="empty-icon">
    <span class="fal fa-users fa-3x"></span>
  </div>
  {{#compare (length @root.data.tasksInfo) 0 ~}}
  <p class="empty-subtitle">
    Add your first group to create {{@root.context.metaData.title}} certificates.<br />
    Once you have entered details of the voluntary work you can add a list of participants.<br />
    Individual participants can be awarded different certificates.
  </p>
  {{/compare ~}}
  <div class="empty-action">
    {{> log_action_buttons}}
  </div>
</div>

{{#unless (compare (length @root.data.tasksInfo) 0) ~}}
<div class="content-break">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#ebedfa" points="100,0 100,100 0,0"></polygon>
  </svg>
  <div class="container">
    <div class="columns cards equal-height">
      {{#each @root.data.tasksInfo ~}}
      <div class="column col-4 col-sm-12 col-lg-6">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5">

              <a href="/{{#if @root.data.isAdmin}}admin-group{{else}}hours{{/if}}/{{task_id}}/{{slugify organisation_name}}">{{organisation_name}}</a>

            </div>
            {{#if task_description ~}}
            <div class="card-subtitle text-gray">{{truncate task_description 140}}</div>
            {{/if ~}}
          </div>
          <div class="card-body">
            <ul class="fa-ul hours-info">
              {{#if location ~}}
              <li>
                <span class="fa-li"><span class="far fa-map-marker-alt"></span></span>
                <span class="text-gray">{{truncate location 140}}</span>
              </li>
              {{/if ~}}
              {{#if un_sustainable_development_goals ~}}
              <li class="card-subtitle">
                <span class="fa-li"><span class="far fa-globe"></span></span>
                <span class="text-gray">{{> sdg_label sdg=un_sustainable_development_goals}}</span>
              </li>
              {{/if ~}}
              <li class="card-subtitle">
                <span class="fa-li"><span class="far fa-users"></span></span>
                <span class="text-gray">{{#compare (length hours_list) ">" 0 ~}}
                {{inflect (length hours_list) "participant" "participants" true}}
                {{else}}
                No participants have been added yet
                {{/compare ~}}</span>
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="/{{#if @root.data.isAdmin}}admin-group{{else}}hours{{/if}}/{{task_id}}/{{slugify organisation_name}}" class="btn btn-link">Manage group</a>
          </div>
        </div>
      </div>
      {{/each ~}}
    </div>
    {{!-- <div class="foot">
      {{> pagination firstLastNavigation=true paging=null}}
    </div> --}}
  </div>
</div>
{{/unless ~}}
{{/if ~}}