<div class="empty">
  <div class="empty-icon">
    <span class="fal fa-user{{#if @root.data.isAdmin}}s{{else}}-clock{{/if}} fa-3x"></span>
  </div>
  {{> log_hours_info}}
  {{#if (compare (sumArray (pluck @root.data.tasksInfo "hours")) 0) ~}}
  <div class="empty-action">
    {{> log_action_buttons}}
  </div>
  {{/if ~}}
</div>
{{#if @root.request.params.query.new}}
  <div id="clickme" data-task-id="taskytask" data-component="TasksTrigger" data-TasksTrigger="{click: {tasks: ['load-hours-toast']}}">34</div>
  <div id="taskytask-horse">44</div>
{{/if}}

<div class="content-break">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#ebedfa" points="100,0 100,100 0,0"></polygon>
  </svg>
  <div class="container">
    <div class="bg-error s-rounded x-padding b-margin-full hidden" id="active-form-message">
      <span id="form-message"></span>
    </div>

    {{#unless @root.data.isAdmin ~}}
    {{#unless (compare (dateMath 'now-27y') ">" (moment @root.data.accountInfo.date_of_birth "YYYY-MM-DD")) ~}}
    <div id="individual-tasks-input" class="columns cards equal-height">
      {{#each @root.data.tasksInfo ~}}
      <div class="column col-6 col-xl-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5">{{organisation_name}}</div>
            {{#if task_description ~}}
            <div class="card-subtitle text-gray">{{truncate task_description 140}}</div>
            {{/if ~}}
          </div>
          <div class="card-body">
            <ul class="fa-ul hours-info">
              {{#if location ~}}
              <li class="card-subtitle">
                <span class="fa-li"><span class="far fa-map-marker-alt"></span></span>id
                <span class="text-gray">{{truncate location 140}}</span>
              </li>
              {{/if ~}}
              {{#if un_sustainable_development_goals ~}}
              <li class="card-subtitle">
                <span class="fa-li"><span class="far fa-globe"></span></span>
                <span class="text-gray">{{> sdg_label sdg=un_sustainable_development_goals}}</span>
              </li>
              {{/if ~}}

              {{#compare hours ">" 0 ~}}
              {{#if hours_verified ~}}
              <li class="card-subtitle">
                <span class="fa-li"><span class="far fa-user-check"></span></span>
                <div class="popover popover-bottom">
                  <span class="text-gray">{{hours_verified}} verified {{inflect hours_verified "hour" "hours"}}</span>
                  <div class="popover-container">
                    <div class="card">
                      <div class="card-header">
                        <strong>Recently added</strong>&ensp;
                        <a href="/hours-log" class="caption">See all</a>
                      </div>
                      <ul class="card-body hours-logged fa-ul">
                        {{#each hours_list ~}}
                        {{#if verified ~}}
                        <li class="hours-log-entry">
                          <span class="fa-li"><span class="far fa-user-check"></span></span>
                          <span class="text-gray">{{inflect hours "hour" "hours" true}}, on {{momentFormat (moment createdDate 'YYYY-MM-DDTHH:mm:ssZ') "MMMM Do"}}{{#compare (momentFormat (moment createdDate 'YYYY-MM-DDTHH:mm:ssZ') "YYYY") "!==" (momentFormat (moment) "YYYY")}} {{momentFormat (moment createdDate 'YYYY-MM-DDTHH:mm:ssZ') "YYYY"}}{{/compare}}</span>
                        </li>
                        {{/if ~}}
                        {{/each ~}}
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              {{/if ~}}
              {{#compare hours ">" hours_verified ~}}
              <li class="card-subtitle">
                <span class="fa-li"><span class="far fa-user-clock"></span></span>
                <div class="popover popover-bottom">
                  <span class="text-gray"><span id="{{task_id}}-hours">{{subtract hours hours_verified}} {{inflect (subtract hours hours_verified) "hour" "hours"}}</span> logged but not yet verified</span>
                  <div class="popover-container">
                    <div class="card">
                      <div class="card-header">
                        <strong>Recently added</strong>&ensp;
                        <a href="/hours-log" class="caption">See all</a>
                      </div>
                      <ul class="card-body hours-logged fa-ul">
                        {{#each hours_list ~}}
                        {{#unless verified ~}}
                        <li class="hours-log-entry">
                          <span class="fa-li"><span class="far fa-user-clock"></span></span>
                          <span class="text-gray">{{inflect hours "hour" "hours" true}}, on {{momentFormat (moment createdDate 'YYYY-MM-DDTHH:mm:ssZ') "MMMM Do"}}{{#compare (momentFormat (moment createdDate 'YYYY-MM-DDTHH:mm:ssZ') "YYYY") "!==" (momentFormat (moment) "YYYY")}} {{momentFormat (moment createdDate 'YYYY-MM-DDTHH:mm:ssZ') "YYYY"}}{{/compare}}</span>
                        </li>
                        {{/unless ~}}
                        {{/each ~}}
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              {{/compare ~}}
              {{else}}
                <li id="{{task_id}}-now-hours" class="card-subtitle hidden">
                  <span class="fa-li"><span class="far fa-user-clock"></span></span>
                    <span class="text-gray"><span id="{{task_id}}-hours"></span> logged but not yet verified</span>
                </li>
                <li id="{{task_id}}-no-hours" class="card-subtitle">
                <span class="fa-li"><span class="far fa-user-times"></span></span>
                <span class="text-gray">No hours added yet</span>
              </li>
              {{/compare ~}}
              {{#unless (compare task_type "===" 'Copy Task')}}
              <li class="card-subtitle">
                <span class="fa-li"><span class="far fa-id-card-alt"></span></span>
                {{#unless (getProperty (itemAt @root.context.metaData.certificates (indexOf (map @root.context.metaData.certificates (getProp 'hours')) @root.data.awardsStatus.current)) "highest") ~}}
                <a href="/task-edit/{{task_id}}">{{{volunteer_manager_first_name}}} {{{volunteer_manager_last_name}}}</a>
                {{else}}
                {{{volunteer_manager_first_name}}} {{{volunteer_manager_last_name}}}
                {{/unless ~}}
              </li>
              {{else}}
              <li class="card-subtitle">
                <span class="fa-li"><span class="far fa-trophy"></span></span>
                <span class="text-gray">Claimed task</span>
              </li>
              {{/unless}}
            </ul>
          </div>

          {{#unless (getProperty (itemAt @root.context.metaData.certificates (indexOf (map @root.context.metaData.certificates (getProp 'hours')) @root.data.awardsStatus.current)) "highest") ~}}
          <div class="card-footer">
            <form action="/submit-hours" method="POST" data-component="TasksTrigger" {{#if admin}}data-success-destination="/hours?new=true" data-destination-include-id="true"{{else}}data-success-destination="/hours?new=true"{{/if}} data-TasksTrigger="ajax-form-handler">
              <input type="hidden" name="task_id" value="{{task_id}}">
              {{#unless (compare task_type "===" 'Copy Task') ~}}

              <label class="form-label" for="hours-{{task_id}}">
                <strong>
                  {{#compare hours ">" 0 ~}}
                  What have you done and how many hours have you volunteered since the
                  {{momentFormat (moment (itemAt (map hours_list (getProp "createdDate")) 0) 'YYYY-MM-DDTHH:mm:ssZ') "Do \o\f MMMM"}}{{#compare (momentFormat (moment (itemAt (map hours_list (getProp "createdDate")) 0) 'YYYY-MM-DDTHH:mm:ssZ') "YYYY") "!==" (momentFormat (moment) "YYYY")}} {{momentFormat (moment) "YYYY"}}{{/compare ~}}{{#compare (dateMath 'now-25y') ">" (moment @root.data.accountInfo.date_of_birth "YYYY-MM-DD")}} but before you turned 26{{/compare}}?
                  {{else}}
                  What have you done and how many hours have you volunteered since you started{{#compare (dateMath 'now-25y') ">" (moment @root.data.accountInfo.date_of_birth "YYYY-MM-DD")}} but before you turned 26{{/compare}}?
                  {{/compare ~}}
                </strong>
              </label>

              <div class="input-group b-margin">
                <textarea class="form-input" id="notes-{{task_id}}" placeholder="Notes (optional)" rows="3"></textarea>
              </div>
              <div class="input-group">
                <input class="form-input input-lg" id="hours-{{task_id}}" name="hours" type="number" step="0.5" min="0.5" value="" placeholder="0" required >
                <button type="submit" class="btn btn-primary btn-lg input-group-btn">Add hours</button>
              </div>
              {{/unless ~}}
            </form>
          </div>
          {{else}}
          {{!-- <div class="card-footer">
            You have reached 500 hours volunteering
          </div> --}}
          {{/unless ~}}
        </div>
      </div>
      {{/each ~}}
    </div>
    {{/unless ~}}
    {{else}}

  {{/unless ~}}
  {{!-- This will probably have a captcha in it, hence the separation, and weird submit format --}}
</div>
{{#unless (compare (sumArray (pluck @root.data.tasksInfo "hours")) 0) ~}}
{{#unless (getProperty (itemAt @root.context.metaData.certificates (indexOf (map @root.context.metaData.certificates (getProp 'hours')) @root.data.awardsStatus.current)) "highest") ~}}
<div class="empty content-break">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#FFFFFF" points="0,0 100,0 0,100"></polygon>
  </svg>
  <div class="empty-action">
    {{> log_action_buttons}}
  </div>
</div>
{{/unless ~}}
{{/unless ~}}


<script data-task="load-hours-toast" type="javascript/blocked">

{
  type: "multiTask",
  config : {
    tasks : [
      {
        name: "toast",
        type: "basic",
        config: {
          message: {__template: `\{{sum (parse (jquery '#clickme' 'text') type='number') 12}}` },
          class: "success"
        }
      },
      "toast"
    ]
  }
}
</script>

{{!-- <script src="https://#/recaptcha/api.js" async defer></script> --}}
<script>
document.addEventListener("DOMContentLoaded", function(event) {

  setTimeout(function(){
    $('#clickme').click();
  }, 10);


  $('.inline-hours-form :input').on('input',function () {
    var unsaved = $(this).closest('form').addClass('has-error');
    {{!-- This is the submit button --}}
    var submit = $(this).closest('form').find(':submit').show();
  });

  $('.inline-update-button').click(function(){
    var saved = $(this).closest('form').removeClass('has-error');
    var hours = $(this).closest('form').find('.hours').val();
    if ((hours == 0) || (hours == 1)) {
      $(this).closest('form').find('mark.claim-code').addClass('hidden');
    } else {
      $(this).closest('form').find('mark.claim-code').removeClass('hidden');
    }
    $(this).hide();
  });

  $('.edit-button').click(function(){
    var hours_id = $(this).closest('.column').find('.modal').attr('id');
    $('#'+hours_id).addClass('active');
  });

  $('.modal-close').click(function(){
    $(this).closest('.column').find('.modal').removeClass('active');
  });

  $('.inline-delete-button').click(function(){
    var submit = $(this).closest('form').hide();
  });

  $('.show-group-awards-form').click(function(e){
    e.preventDefault();
    $('#group-awards-form').show();
    $(this).hide();
  });


  $(window).on('beforeunload', function(){
    if($('form.has-error').length){
      return true;
    }
    else return;
  });
});
</script>


