<div class="container">
  <div class="columns">
    <div class="column col-9 col-xl-12">
      <h2>
        {{#if @root.data.isAdmin ~}}
        Group volunteering details
        {{else}}
        My volunteering details
        {{/if ~}}
      </h2>

      {{!-- <div class="bg-warning x-padding"> --}}
      {{#if @root.data.isAdmin ~}}
      <h4 class="no-margin">What is volunteering?</h4>
      <ul class="fa-ul">
        <li>
          <span class="fa-li"><span class="fas fa-check-circle text-success"></span></span>
          <span class="text-grey">Your organisation demonstrates good practice around youth volunteering</span>
        </li>
        <li>
          <span class="fa-li"><span class="fas fa-check-circle text-success"></span></span>
          <span class="text-grey">Your organisation has a clear understanding of volunteering and the criteria The Saltire Awards recognises</span>
        </li>
        <li>
          <span class="fa-li"><span class="fas fa-check-circle text-success"></span></span>
          <span class="text-grey">Your organisation can keep its own accurate records of young people's volunteering hours</span>
        </li>
        <li>
          <span class="fa-li"><span class="fas fa-check-circle text-success"></span></span>
          <span class="text-grey">Your organisation can follow the print standard guidelines to produce Saltire Awards certificates</span>
        </li>
        <li>
          <span class="fa-li"><span class="fas fa-check-circle text-success"></span></span>
          <span class="text-grey">Your organisation is committed to encouraging and supporting young people to create their own My Saltire account (where possible)</span>
        </li>
      </ul>
      {{else}}
      <h4 class="no-margin">What is volunteering?</h4>
      <ul class="fa-ul">
        <li>
          <span class="fa-li"><span class="fas fa-check-circle text-success"></span></span>
          <span class="text-grey">Unpaid</span>
        </li>
        <li>
          <span class="fa-li"><span class="fas fa-check-circle text-success"></span></span>
          <span class="text-grey">Your own choice to take part</span>
        </li>
        <li>
          <span class="fa-li"><span class="fas fa-check-circle text-success"></span></span>
          <span class="text-grey">Benefits the community or the environment</span>
        </li>
        <li>
          <span class="fa-li"><span class="fas fa-times-circle text-error"></span></span>
          <span class="text-grey">Work experience</span>
        </li>
        <li>
          <span class="fa-li"><span class="fas fa-times-circle text-error"></span></span>
          <span class="text-grey">Mandatory college / university placements</span>
        </li>
      </ul>
      {{/if ~}}
      {{!-- </div> --}}

      {{#unless @root.data.isAdmin ~}}
      {{> log_age_limit}}
      {{/unless ~}}

      <div class="divider v-margin-full"></div>

      <form id="task-details-form" class="active-form" action="/submit-task-details" method="POST" data-component="TasksTrigger" {{#if @root.data.isAdmin}}data-success-destination="/admin-group/" data-destination-include-id="true"{{else}}data-success-destination="/hours"{{/if}} data-TasksTrigger="ajax-form-handler">
        <input type="hidden" name="task_type" value="{{#if @root.data.isAdmin}}Group Task{{else}}Individual Task{{/if}}">
        <div class="l-margin r-margin">
          <div class="bg-error s-rounded x-padding v-margin" id="active-form-message">
            <span id="form-message"></span>
          </div>
        </div>
        <div class="form-horizontal">
          <div class="form-group">
            <div class="column col-4 col-md-12">
              <label for="organisation_name" class="form-label">
                {{#if @root.data.isAdmin ~}}
                Organisation or organisations your group has volunteered with
                {{else}}
                Organisation you volunteer with
                {{/if ~}}
                <span class="far fa-info-circle popover popover-bottom">
                  <div class="popover-container">
                    <div class="card">
                      <div class="card-body caption">
                        Required -
                        {{#if @root.data.isAdmin ~}}
                        this information will appear on each young person's certificate so please make sure it is accurate
                        {{else}}
                        this information will appear on your certificate so please make sure it is accurate
                        {{/if ~}}
                      </div>
                    </div>
                  </div>
                </span>
              </label>
            </div>
            <div class="column col-8 col-md-12">
              <div data-component="Typeahead" data-Typeahead="typeahead-organisation">
                <input id="organisation_name" name="organisation_name" class="form-input" placeholder="e.g. A Charity" value="{{@root.data.taskInfo.organisation_name}}" autocomplete="nope" data-lpignore="true" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.organisation_name}}>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="column col-4 col-md-12">
              <label for="location" class="form-label">
                Location
                <span class="far fa-info-circle popover popover-bottom">
                  <div class="popover-container">
                    <div class="card">
                      <div class="card-body caption">
                        {{#if @root.data.isAdmin ~}}
                        Optional - this is for your own reference and not shown on certificates
                        {{else}}
                        Optional - this is not shown on certificates but is shown on your profile
                        {{/if ~}}
                      </div>
                    </div>
                  </div>
                </span>
              </label>
            </div>
            <div class="column col-8 col-md-12">
              <input required id="location" name="location" class="form-input" placeholder="e.g. Edinburgh" value="{{@root.data.taskInfo.location}}" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.location}}>
            </div>
          </div>
          {{!-- <div class="form-group">
            <div class="column col-4 col-md-12">
              <label for="organisation_charity_number" class="form-label r-margin">
                Scottish charity number (optional)
              </label>
            </div>
            <div class="column col-3 col-md-4 col-sm-5 col-xs-6">
              <div class="input-group">
                <input autocomplete="nope" id="organisation_charity_number" placeholder="e.g. SC003558" name="organisation_charity_number" class="form-input" value="{{@root.data.taskInfo.organisation_charity_number}}" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.organisation_charity_number}}>
              </div>
            </div>
          </div> --}}
          <input autocomplete="nope" id="organisation_charity_number" name="organisation_charity_number" value="{{@root.data.taskInfo.organisation_charity_number}}" type="hidden" />
          <input autocomplete="nope" id="organisation_id" name="organisation_id" value="{{@root.data.taskInfo.organisation_id}}" type="hidden" />
          <div class="form-group">
            <div class="column col-4 col-md-12">
              <label for="task_role" class="form-label">
                {{#if @root.data.isAdmin ~}}
                Volunteer role
                {{else}}
                My volunteer role
                {{/if ~}}
                <span class="far fa-info-circle popover popover-bottom">
                  <div class="popover-container">
                    <div class="card">
                      <div class="card-body caption">
                        Required -
                        {{#if @root.data.isAdmin ~}}
                        this can be altered for each individual
                        {{else}}
                        this information may appear on your certificate so please make sure it is accurate
                        {{/if ~}}
                      </div>
                    </div>
                  </div>
                </span>
              </label>
            </div>
            <div class="column col-8 col-md-12">
              <input required id="task_role" name="task_role" class="form-input" placeholder="e.g. Volunteering" value="{{@root.data.taskInfo.task_role}}" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.task_role}}>
              {{!-- <textarea rows="4" cols="40" id="task_role" placeholder="e.g. Volunteering" name="task_role" class="form-input" value="{{@root.data.taskInfo.task_role}}" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.task_role}}></textarea> --}}
            </div>
          </div>
          {{#unless @root.data.isAdmin ~}}
          <div class="form-group">
            <div class="column col-4 col-md-12">
              <label for="task_description" class="form-label">
                Tell us what you have been doing in your role
                <span class="far fa-info-circle popover popover-bottom">
                  <div class="popover-container">
                    <div class="card">
                      <div class="card-body caption">
                        You could make a note of all the activities you have been doing, the skills and experience you have gained as well as any challenges you have faced - you will be able to look back at this for reference and use it to as part of a CV or job application
                      </div>
                    </div>
                  </div>
                </span>
              </label>
            </div>
            <div class="column col-8 col-md-12">
              <textarea rows="4" cols="40" id="task_description" placeholder="e.g. Description" name="task_description" class="form-input" value="{{@root.data.taskInfo.task_description}}" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.task_description}}></textarea>
            </div>
          </div>
          {{/unless}}
          {{#if @root.data.isAdmin ~}}
            {{!-- <div class="form-group">
              <div class="column col-4 col-md-12">
                <label for="testimonial" class="form-label">
                  Let people know about your volunteers achievements with a testimonial
                  <div class="caption">
                    This will be shown on their certificates
                  </div>
                </label>
              </div>
              <div class="column col-8 col-md-12">
                <textarea rows="4" cols="40" id="testimonial" placeholder="Testimonial" name="testimonial" class="form-input" value="{{@root.data.taskInfo.testimonial}}" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.testimonial}}></textarea>
              </div>
            </div> --}}
            <div class="form-group">
              <div class="column col-4 col-md-12">
                <label for="internal_reference" class="form-label">
                  Your reference
                  <span class="far fa-info-circle popover popover-bottom">
                    <div class="popover-container">
                      <div class="card">
                        <div class="card-body caption">
                          Optional - this is for your own reference and not shown on certificates
                        </div>
                      </div>
                    </div>
                  </span>
                </label>
              </div>
              <div class="column col-8 col-md-12">
                <input id="internal_reference" name="internal_reference" class="form-input" placeholder="e.g. VO1234" value="{{@root.data.taskInfo.internal_reference}}" {{>form_validation_attributes @root.context.metaData.taskInfoValidation.internal_reference}}>
              </div>
            </div>
          {{/if}}
          <div class="form-group">
            <div class="column col-4 col-md-12">
              <label for="un_sustainable_development_goals" class="form-label r-margin">
                Which UN Sustainable Development Goals does this volunteering contribute towards?
                <span class="far fa-info-circle popover popover-bottom">
                  <div class="popover-container">
                    <div class="card">
                      <div class="card-body caption">
                        {{#if @root.data.isAdmin ~}}
                        Optional - if you choose any, the UN SDG logo will appear on all certificates for this group <a href="/sustainable-development-goals" target="_blank">Read more</a>
                        {{else}}
                        Optional - if you choose any, the UN SDG logo will appear on your future certificates and the SDGs you contribute towards will appear on your profile <a href="/sustainable-development-goals" target="_blank">Read more</a>
                        {{/if ~}}
                      </div>
                    </div>
                  </div>
                </span>
              </label>
            </div>
            <div class="column col-8 col-md-12">
              <div class="dropdown">
                <a href="javascript:void()" class="btn dropdown-toggle" tabindex="0">
                  Select Sustainable Development Goals <span class="far fa-angle-down"></span>
                </a>
                <ul class="menu">
                  {{#each @root.context.metaData.globalGoals ~}}
                  <li class="menu-item">
                    <label class="form-checkbox">
                      <input type="checkbox" name="un_sustainable_development_goals" class="sdg" value="{{title}}" data-component="TasksTrigger" data-TasksTrigger="update-sdgs" />
                      <span class="form-icon"></span> <span class="label label-primary" style="background-color:{{> sdg_color sdg=title}}">{{> sdg_number sdg=title}}</span> {{title}}
                    </label>
                  </li>
                  {{/each ~}}
                </ul>
              </div>
              <div class="t-margin" id="selected-un_sustainable_development_goals">
                {{#each @root.context.metaData.globalGoals ~}}
                <span id="sdg-{{> sdg_number sdg=title}}" class="chip hidden" style="user-select:none;color:white!important;background-color:{{> sdg_color sdg=title}}">{{> sdg_number sdg=title}}: {{title}}</span>
                {{/each ~}}
              </div>
            </div>
          </div>
        </div>

        {{#unless @root.data.isAdmin ~}}

        <div class="divider v-margin-full"></div>

        <h4>
          Volunteer manager
        </h4>
        <p class="caption">
          This is the person who will verify your hours, so it is important you enter their email address correctly
        </p>

        <div class="form-horizontal">
          <div class="form-group">
            <div class="column col-4 col-md-12">
              <label for="volunteer_manager_first_name" class="form-label">
                Volunteer manager
              </label>
            </div>
            <div class="col-8 col-md-12">
              <div class="form-horizontal">
                <div class="form-group">
                  <div class="column col-6">
                    <input required id="volunteer_manager_first_name" name="volunteer_manager_first_name" placeholder="First name"
                      {{>form_validation_attributes @root.context.metaData.taskInfoValidation.volunteer_manager_first_name}} class="form-input"
                      value="{{@root.data.taskInfo.volunteer_manager_first_name}}"
                    >
                  </div>
                  <div class="column col-6">
                    <input required id="volunteer_manager_last_name" name="volunteer_manager_last_name" placeholder="Last name"
                      {{>form_validation_attributes @root.context.metaData.taskInfoValidation.volunteer_manager_last_name}} class="form-input"
                      value="{{@root.data.taskInfo.volunteer_manager_last_name}}"
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="column col-4 col-md-12">
              <label for="volunteer_manager_title" class="form-label">
                Job title
              </label>
            </div>
            <div class="col-8 col-md-12">
              <input required id="volunteer_manager_title" name="volunteer_manager_title" placeholder="e.g. Volunteer manager"
                {{>form_validation_attributes @root.context.metaData.taskInfoValidation.volunteer_manager_title}} class="form-input"
                value="{{@root.data.taskInfo.volunteer_manager_title}}"
              >
            </div>
          </div>
          <div class="form-group">
            <div class="column col-4 col-md-12">
              <label for="volunteer_manager_email" class="form-label">
                Email address
              </label>
            </div>
            <div class="col-8 col-md-12">
              <input id="volunteer_manager_email" name="volunteer_manager_email" placeholder="e.g. name@charity.org"
                {{>form_validation_attributes @root.context.metaData.taskInfoValidation.volunteer_manager_email}} class="form-input"
                value="{{@root.data.taskInfo.volunteer_manager_email}}" pattern="^((?!{{@root.data.accountInfo.email}}).)*$">
            </div>
          </div>
          <div class="form-group">
            <div class="column col-4 col-md-12">
              <label for="volunteer_manager_phone" class="form-label">
                Phone number
              </label>
            </div>
            <div class="col-8 col-md-12">
              <input id="volunteer_manager_phone" name="volunteer_manager_phone" placeholder="e.g. 01310001234"
                {{>form_validation_attributes @root.context.metaData.taskInfoValidation.volunteer_manager_phone}} class="form-input"
                value="{{@root.data.taskInfo.volunteer_manager_phone}}"
                />
            </div>
          </div>
        </div>
        {{else}}
        <input type="hidden" id="volunteer_manager_first_name" name="volunteer_manager_first_name" value="{{default @root.data.taskInfo.volunteer_manager_first_name @root.data.accountInfo.first_name}}" />
        <input type="hidden" id="volunteer_manager_last_name" name="volunteer_manager_last_name" value="{{default @root.data.taskInfo.volunteer_manager_last_name @root.data.accountInfo.last_name}}" />
        <input type="hidden" id="volunteer_manager_title" name="volunteer_manager_title" value="{{default @root.data.taskInfo.volunteer_manager_title @root.data.accountInfo.title}}" />
        <input type="hidden" id="volunteer_manager_email" name="volunteer_manager_email" value="{{default @root.data.taskInfo.volunteer_manager_email @root.data.accountInfo.email}}" />
        <input type="hidden" id="volunteer_manager_phone" name="volunteer_manager_phone" value="{{default @root.data.taskInfo.volunteer_manager_phone @root.data.accountInfo.phone}}" />
        {{/unless ~}}
        <div class="form-horizontal">
          <div class="form-group">
            <div class="column col-4 hide-sm"></div>
            <div class="column col-8 col-md-12">
              {{!-- This will probably have a captcha in it, hence the separation, and weird submit format --}}
              <button id="detail-submit" type="submit" class="btn btn-primary b-margin-full">
                Next
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{{{raw}}}}
<script data-component-config="update-sdgs" type="javascript/blocked">
  {
    change: { tasks: ["update-sdgs"] }
  }
</script>
{{{{/raw}}}}
<script data-task="update-sdgs" type="javascript/blocked">
  {
    type: "multiTask",
    config: {
      tasks: [
        {{#each @root.context.metaData.globalGoals ~}}
        {
          __doNotCompile: true,
          type: "switch",
          config: {
            which: { __template: "\{{#each (jquery '.sdg:checked')}}\{{#eq this.value '{{title}}'}}selected\{{/eq}}\{{/each}}" },
            branches: {
              default: {
                tasks: [
                  {
                    type: "elementManipulator",
                    config: {
                      "#sdg-{{> sdg_number sdg=title}}": {
                        addClass: [ "hidden" ]
                      }
                    }
                  }
                ]
              },
              selected: {
                tasks: [
                  {
                    type: "elementManipulator",
                    config: {
                      "#sdg-{{> sdg_number sdg=title}}": {
                        removeClass: [ "hidden" ]
                      }
                    }
                  }
                ]
              }
            }
          }
        }{{#unless @last}},{{/unless}}
        {{/each ~}}
      ]
    }
  }
</script>

{{{{raw}}}}
<script data-component-config="typeahead-organisation" type="javascript/blocked">
{
  typeaheadOptions: {
    highlight: true,
    minlength: 3
  },
  datasets: [
    {
      name: "org_lookup",
      display: "title",
      bloodhound: {
        datumTokenizer: "objWhitespace",
        datumTokenizerField: "other",
        queryTokenizer: "whitespace",
        remote: {
          url: "/org-lookup?q=*",
          wildcard: "*"
        }
      }
    },
  ],
  itemSelectedTasks: [
    {
      type: "elementManipulator",
      config: {
        ">.tt-input": { value: { __pointer: "metadata.suggestion.title" } },
        "#location": { value: { __pointer: "metadata.suggestion.location" } },
        "#organisation_charity_number": { value: { __pointer: "metadata.suggestion.registered_charity_number" } }
      }
    },
    {
      type: "elementManipulator",
      config: {
        ">.tt-menu": { styles: { display: "none !important" } }
      }
    }
  ],
  clearIfNothingSelected: true,
  nothingSelectedTasks: [
    {
      type: "elementManipulator",
      config: {
        "#location": { value: "" },
        "#organisation_charity_number": { value: "" }
      }
    }
    // {
    //   type: "run",
    //   config: { code: "metadata.instance.clearSelection()" }
    // }
  ]
}
</script>
{{{{/raw}}}}

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $('#task-details-form').on('submit', function(e){
      $('#task-details-form').find('.submit-button').prop('disabled', true);
    });

    var element = document.getElementById("volunteer_manager_email");
      element.oninvalid = function(e) {
        e.target.setCustomValidity("");
        if (!e.target.validity.valid) {
          e.target.setCustomValidity("This must be a valid email, but not your own");
        }
      };
      element.oninput = function(e) {
        e.target.setCustomValidity("");
      };
  });
</script>