<div class="container">
  {{> opportunity_search_form}}
  <div class="head">
    <ul class="tab">
      <li class="tab-item{{#compare @root.request.url.pathname '/search'}} active{{/compare}}">
        <a href="{{concat '/search' (if (compare (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null exclude=null) '') '' else='?') (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null)}}">
          <span class="far fa-fw fa-list"></span>
          List
        </a>
      </li>
      <li class="tab-item{{#compare @root.request.url.pathname '/search/map'}} active{{/compare}}">
        <a href="{{concat '/search/map' (if (compare (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null exclude=null) '') '' else='?') (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null)}}">
          <span class="far fa-fw fa-map-marker-alt"></span>
          Map
        </a>
      </li>
    </ul>
  </div>
  {{#if @root.data.search_data.map_results.pagination.totalResults ~}}
  {{!--#ifAny (compare @root.data.search_data.map_results.aggregations.geo_search.buckets.[0].doc_count ">" 0) (compare @root.request.params.query.location "===" "") ~--}}

  <div id="map-full" style="height: 60vh; width: 100%;" data-component="LeafletMap" data-LeafletMap='{
      mapOptions: {
        fullscreenControl: true,
        scrollWheelZoom: false,
        trackResize: false,
        zoom: 11
      },
      initialLatLng: { lat: 55.94528820000001, lng: -3.200755699999945 },
      featureGroups: [
        {{#ifAll @root.request.params.query.distance @root.request.params.query.lat @root.request.params.query.lng ~}}
        {
          boundToThis: true,
          features: [
            {
              type: "Circle",
              latLng: { lat: {{@root.request.params.query.lat}}, lng: {{@root.request.params.query.lng}} },
              options: {
                radius: {{default (multiply @root.request.params.query.distance 1609.34) 0}},
                color: "#009DDA"
              }
            }
          ]
        }
        {{/ifAll ~}}
      ],
      markerClusterGroups: [
        {
          boundToThis: true,
          options: {
            showCoverageOnHover: false
          },
          markers: [
            {{#each @root.data.search_data.map_results.hits.hits ~}}
              {{#if _source.geo_coords ~}}
                {{#each (arrayify _source.geo_coords) ~}}
                  {{#if @root.request.params.query.distance ~}}
                    {{#compare (itemAt ../fields.distance @index) "<" @root.request.params.query.distance ~}}
                      {
                        type: "Marker",
                        popupContent: `
                          {{> opportunity_map ../_source map_postcode=(itemAt (arrayify (split ../_source.postcode ",")) @index)}}
                        `,
                        latLng: { lat: {{lat}}, lng: {{lon}} }
                      },
                    {{/compare ~}}
                  {{else}}
                    {
                      type: "Marker",
                      popupContent: `
                        {{> opportunity_map ../_source map_postcode=(itemAt (arrayify (split ../_source.postcode ",")) @index)}}
                      `,
                      latLng: { lat: {{lat}}, lng: {{lon}} }
                    },
                  {{/if ~}}
                {{/each ~}}
              {{/if ~}}
            {{/each ~}}
          ]
        }
      ]
    }'></div>

  {{!--
  <div id="map-full" data-map-name="fullMap" class="grid-content" data-map-clustered-options='{
  {{#ifAll @root.request.params.query.distance @root.request.params.query.lat @root.request.params.query.lng ~}}
  "circle": {
    "lat": {{@root.request.params.query.lat}},
    "lng": {{@root.request.params.query.lng}},
    "radius": {{default (multiply @root.request.params.query.distance 1.60934) 0}},
    "color": "#7bc143"
  }
  {{/ifAll ~}}
  }'>
    <!-- Markers for map -->
    {{#each @root.data.search_data.map_results.hits.hits ~}}
      {{#if _source.geo_coords ~}}
        {{#each (arrayify _source.geo_coords) ~}}
          {{#if @root.request.params.query.distance ~}}
            {{#compare (itemAt ../fields.distance @index) "<" @root.request.params.query.distance ~}}
              <marker style="display:none;" data-map="fullMap" data-lat="{{lat}}" data-lng="{{lon}}" data-shortlisted="{{#each @root.data.favourites.items}}{{#compare id "===" ../../_source.Id}}true{{/compare}}{{/each}}" data-title="{{../_source.title}}">
                {{> opportunity_map ../_source map_postcode=(itemAt (arrayify (split ../_source.postcode ",")) @index)}}
              </marker>
            {{/compare ~}}
          {{else}}
            <marker style="display:none;" data-map="fullMap" data-lat="{{lat}}" data-lng="{{lon}}" data-shortlisted="{{#each @root.data.favourites.items}}{{#compare id "===" ../../_source.Id}}true{{/compare}}{{/each}}" data-title="{{../_source.title}}">
              {{> opportunity_map ../_source map_postcode=(itemAt (arrayify (split ../_source.postcode ",")) @index)}}
            </marker>
          {{/if ~}}
        {{/each ~}}
      {{/if ~}}
    {{/each ~}}
  </div>
  --}}
  {{!-- else}}
  <div class="grid-content">
    <div class="search-info">
      No location-specific results could be found
    </div>
  </div>
  {{/ifAny ~--}}
  {{else}}
  <div class="grid-content">
    {{> search_info paging=@root.data.search_data.detailed_results.pagination}}
  </div>
  {{/if ~}}
</div>