<div class="container">
  {{> opportunity_search_form}}
  <div class="head">
    <ul class="tab">
      <li class="tab-item{{#compare @root.request.url.pathname '/search'}} active{{/compare}}">
        <a href="{{concat '/search' (if (compare (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null exclude=null) '') '' else='?') (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null)}}">
          <span class="far fa-fw fa-list"></span>
          List
        </a>
      </li>
      <li class="tab-item{{#compare @root.request.url.pathname '/search/map'}} active{{/compare}}">
        <a href="{{concat '/search/map' (if (compare (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null exclude=null) '') '' else='?') (querystringify @root.request.params.query utm_source=null utm_campaign=null utm_medium=null)}}">
          <span class="far fa-fw fa-map-marker-alt"></span>
          Map
        </a>
      </li>
      <li class="tab-item tab-action">
        {{#compare @root.data.search_data.detailed_results.hits.total ">" 0 ~}}
          <form action="{{{@root.request.url.path}}}" method="GET" class="form-horizontal">
            {{!-- {{#each (split "volunteersearch_types,activities,themes,services,age_groups" ",")}}
              {{#if (getProperty @root.request.params.query this) ~}}
                {{#each (arrayify (getProperty @root.request.params.query this)) ~}}
                  <input type="hidden" name="{{../this}}[]" value="{{this}}" />
                {{/each ~}}
              {{/if ~}}
            {{/each ~}} --}}
            {{#each (split "keywords,exclude,activities,themes,location,lat,lng,la,age" ",")}}
              {{#if (getProperty @root.request.params.query this) ~}}
                <input type="hidden" name="{{this}}" value="{{getProperty @root.request.params.query this}}" />
              {{/if ~}}
            {{/each ~}}
            <input type="hidden" name="distance" value="{{default @root.request.params.query.distance 10}}" />
            {{#if @root.request.params.query.debug_results}}
              <input type="hidden" name="debug_results" value="{{@root.request.params.query.debug_results}}">
            {{/if}}

            <div class="form-group" style="margin-bottom:-1px;">
              <div class="column col-ml-auto col-3 col-lg-4 col-md-6">
                <label class="form-label pull-right r-margin" for="sort">
                  Sort by
                </label>
              </div>
              <div class="column col-3 col-lg-4 col-md-6">
                <select class="form-select" id="sort" name="sort" onchange="this.form.submit();">
                  {{#ifAny @root.request.params.query.keywords @root.request.params.query.location @root.request.params.query.activities @root.request.params.query.themes @root.request.params.query.age ~}}
                  <option value="relevance" {{#unless @root.request.params.query.sort}} selected {{/unless}}>Relevance</option>
                  {{/ifAny ~}}
                  {{#if @root.request.params.query.location ~}}
                  <option value="distance"{{#compare @root.request.params.query.sort "distance"}} selected{{/compare}}{{#compare @root.request.params.query.exclude "locations"}} disabled{{else}}{{#compare @root.request.params.query.location ""}} disabled{{/compare}}{{/compare}}>Distance</option>
                  {{/if ~}}
                  <option value="newest"{{#compare @root.request.params.query.sort "newest"}} selected{{/compare}}>Newest</option>
                  <option value="oldest"{{#compare @root.request.params.query.sort "oldest"}} selected{{/compare}}>Oldest</option>
                </select>
              </div>
            </div>
          </form>
        {{/compare ~}}
      </li>
    </ul>
  </div>

  <div class="b-margin-full">
    {{> search_info paging=@root.data.search_data.detailed_results.pagination}}
  </div>

  {{#if @root.request.params.query.debug_results}}
    <div class="v-padding-full">
      <pre>
{{{safeStringify @root.data.search_data.detailed_results.request}}}
      </pre>
    </div>
  {{/if}}

  {{#each @root.data.search_data.detailed_results.hits.hits ~}}
    {{#if @root.request.params.query.debug_results}}
      <div class="v-padding-full">
        <pre>
  SCORE: {{_score}}
  DISTANCE: {{numberFormat fields.distance.[0] "en-GB" 1}} miles
  LAST MODIFIED: {{#with (momentDistance (moment _source.date_last_modified "x") null "days")~}}
    {{~#compare this "<=" 0~}}
      {{replace (concat this "") "-" ""}} days ago
    {{~else~}}
      {{this}} days in the future
    {{~/compare~}}
  {{/with}}

  HIGHLIGHTS:
  {{{safeStringify highlight}}}
        </pre>
      </div>
    {{/if}}

    {{> opportunity_search_result _source distance=fields.distance.[0]}}

  {{/each ~}}

  <div class="foot">
    {{> pagination firstLastNavigation=true paging=@root.data.search_data.detailed_results.pagination}}
    <div class="align-centre">
      <a href="https://volunteer.scot"><img src="{{~>asset_url url='images/logos/volunteer_scotland_search.png'~}}" class="b-margin responsive-img" style="height:10vh;min-height:80px;" /></a>
    </div>
  </div>
</div>
