<div class="container b-padding-full v-margin-full">
  <h1>
    Contact us
  </h1>
  <div class="columns col-gapless">
    <div class="col-6">
      <h2>
        Local enquiries
      </h2>
      <p>
        For information on how to get involved with the Saltire Awards, you're best to contact your local Third Sector Interface.
      </p>
      <p>
        {{#if @root.data.accountInfo.postcode ~}}
        {{> local_contact_info}}
        {{else}}
        Find the contact details below for the Council area you live in.
        {{/if ~}}
      </p>
    </div>
    <div class="col-6">
      <h2>
        National enquiries
      </h2>
      <p>
        If you have a problem with the website or are a national organisation, please contact <a href="mailto:support@saltireawards.org.uk">support@saltireawards.org.uk</a>.
      </p>
    </div>
  </div>
  {{#unless @root.data.accountInfo.postcode ~}}
  <div class="columns col-gapless">
    {{#each @root.context.metaData.tsiList ~}}
    <div class="col-6">
      <div>
        {{#if area ~}}
        <strong>{{{area}}}</strong><br />
        {{/if ~}}
        {{#if title ~}}
        {{{title}}}<br />
        {{/if ~}}
        {{#if website ~}}
        <a href="{{website}}">{{website}}</a><br />
        {{/if ~}}
        {{#if website2 ~}}
        <a href="{{website2}}">{{website2}}</a><br />
        {{/if ~}}
        {{#if email ~}}
        <a href="mailto:{{email}}">{{email}}</a><br />
        {{/if ~}}
        {{#if phone ~}}
        {{{phone}}}
        {{/if ~}}
      </div>
    </div>
    {{/each ~}}
  </div>
  {{/unless ~}}
</div>