<div class="container-fluid container-content">
  <h1 class="mdc-typography--headline4">
    {{#if @root.data.isAdmin ~}}
      {{@root.route.metaData.adminTitle}}
    {{else}}
      {{@root.route.metaData.title}}
    {{/if ~}}
  </h1>

  <h2 class="mdc-typography--headline6">
    Actions
  </h2>
  {{#if @root.data.isAdmin ~}}
  <p class="mdc-typography--body1">
    <a href="/hours">Volunteering groups</a>
  </p>
  {{else}}
  <p class="mdc-typography--body1">
    <a href="/hours">My volunteering - submit hours</a><br />
    <a href="/search">Find a volunteering opportunity</a>
  </p>
  {{/if ~}}
  <h2 class="mdc-typography--headline6">
    Support &amp; information
  </h2>
  <p class="mdc-typography--body1">
    {{#if @root.data.accountInfo.postcode ~}}
    {{> local_contact_info}}
    {{else}}
    If you enter a postcode on your <a href="/settings">profile</a> you'll see local contact information here.  Please see the <a href="/contact">contact us</a> page for all areas.
    {{/if ~}}
  </p>
</div>

