<div class="container-content content-account">
  <h1>Prototype of deny / modify hours for {{@root.data.accountInfo.first_name}} {{@root.data.accountInfo.last_name}}  </h1>

  <h2>User: {{@root.data.accountInfo.first_name}} {{@root.data.accountInfo.last_name}} {{#if @root.data.accountInfo.school_college_name}}from {{@root.data.accountInfo.school_college_name}}{{/if}}</h2>

  {{#each (distinct (pluck @root.data.tasksInfoUnverified "volunteer_manager_email")) ~}}
    <section class="mdc-card__media email-template h-padding-full">
      <p>
        Modify hours for {{@root.data.accountInfo.first_name}} {{@root.data.accountInfo.last_name}} {{#if @root.data.accountInfo.school_college_name}}from {{@root.data.accountInfo.school_college_name}}{{/if}}. If the hours listed did not occur at all, please set the value to zero, and mention this in the 'reason' text box.</p>
      </p>

      <ul>
        {{#each @root.data.tasksInfoUnverified}}
          {{#compare unverified_hours_list.length ">=" 1}}
          {{#compare this.volunteer_manager_email "===" ../this}}

          <li><strong>Volunteering </strong> with <strong>{{organisation_name}}</strong>: {{#if task_description}}Tasks: {{task_description}}{{/if}}, Manager: {{volunteer_manager_first_name}} {{volunteer_manager_last_name}} - {{volunteer_manager_title}}
            <ul>
            <li>{{#each this.unverified_hours_list}}
                  {{hours}} Hours: Logged on {{momentFormat (moment createdDate "YYYY-MM-DD") "MMMM Do YYYY"}}</li>
                {{/each}}
            </li>
            </ul>
            </li>
          <form id="hours-modify-form" action="/modify-hours" method="POST" data-ajax-form='{
            "successCallback": "completeCB",
            "failureCallback": "completeCB"
          }'>
            <input type="hidden" name="task_id" value="{{taskId}}">

          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                <label for="reason">Hours Granted</label>
                <br/>
                <label for="reason">Reason for modification / denial</label>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                <input type="number" step="any" min="0" name="hours" value="{{hours}}">
                <br/>
                <textarea rows="2" name="reason"></textarea>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                <button class="mdc-button mdc-button--raised">Verify Hours</button>
              </div>
            </div>
          </div>
          </form>
          {{/compare}}
          {{/compare}}
          <br />
        {{/each}}
      </ul>
    </section>
  {{/each}}
</div>
<script>
  function completeCB(response, whatever) {
    var jsonData = JSON.parse(response);
    if (jsonData.id){
      console.log("yay!");
      saltireawards.componentsInitialiser.snackbar.show({message:"yay!"});
    } else {
      $('#detail-submit').prop('disabled', false);
      saltireawards.componentsInitialiser.snackbar.show({message:"Failed create task."});
    }
  }
</script>