<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
        <input required id="first_name" name="first_name" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.data.accountInfo.first_name}}" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.first_name}}>
        {{!-- value="{{@root.data.user_details.first_name}}"> --}}
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="first_name" class="mdc-floating-label">First name</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
        <input required id="last_name" name="last_name" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.data.accountInfo.last_name}}" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.last_name}}>
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="last_name" class="mdc-floating-label">Last name</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
        {{#if admin}}
          <input id="date_of_birth" name="date_of_birth" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.data.accountInfo.date_of_birth}}" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.date_of_birth_checked}}>
        {{else}}
          <input id="date_of_birth_checked" name="date_of_birth" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.data.accountInfo.date_of_birth}}" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.date_of_birth}}>
        {{/if}}
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="date_of_birth" class="mdc-floating-label">Date of birth</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <input type="hidden" name="local_authority" id="local_authority" value="{{@root.data.accountInfo.local_authority}}" />
      <input type="hidden" name="tsi_area" id="tsi_area" value="{{@root.data.accountInfo.tsi_area}}" />
      <input type="hidden" name="tsi_contact" id="tsi_contact" value="{{@root.data.accountInfo.tsi_contact}}" />
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon" data-mdc-auto-init="MDCTextField" style="z-index:100;">
        <span class="far fa-map-marker-alt mdc-text-field__icon postcode-lookup" tabindex="0" title="Find my location"></span>
        <input type="text" id="postcode" name="postcode" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.data.accountInfo.postcode}}" placeholder="" data-lpignore="true" data-location-search='{
          "laSelector": "[name=\"local_authority\"]",
          "tsiAreaSelector": "[name=\"tsi_area\"]",
          "tsiContactSelector": "[name=\"tsi_contact\"]",
          "locationServicesSelector": ".postcode-lookup"
        }' {{>form_validation_attributes @root.context.metaData.accountInfoValidation.postcode}}>
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="postcode" class="mdc-floating-label">
              {{#if admin}}Work postcode{{else}}Home postcode{{/if}}
            </label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>
  </div>
  {{#unless admin ~}}
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
        <input id="school_college_name" name="school_college_name" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.data.accountInfo.school_college_name}}" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.school_college_name}}>
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="school_college_name" class="mdc-floating-label">School/college name</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>
  </div>
    <div id="verification" class="mdc-layout-grid__inner" style="display: none">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
        <input type="email" id="verification_email" name="verification_email" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.data.accountInfo.verification_email}}" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.verification_email}}>
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="verification_email" class="mdc-floating-label">Your parent or guardian's email address</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
    <input type="hidden" name="email" value="{{data.auth.email}}">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
          <input id="title" name="title" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.data.accountInfo.title}}" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.title}}>
          <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
              <label for="title" class="mdc-floating-label">Job title</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
          <input id="phone" name="phone" class="mdc-text-field__input mdc-text-field--fullwidth" value="{{@root.data.accountInfo.phone}}" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.phone}}>
          <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
              <label for="phone" class="mdc-floating-label">Phone number</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
          </div>
        </div>
      </div>
    </div>
    {{!-- <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone b-margin-full">
      <div class="mdc-typography--body">
        Your Local TSI (This field to be replaced with one derived from postcode).
      </div>

          <select class="mdc-select__native-control" type="email" id="verification_email" name="verification_email">
            {{!-- This will likely read from a JSON file - -}}
            <option value="anuttgens@gmail.com">A Test TSI</option>
            <option value="anuttgens@gmail.com">A Different Test TSI</option>
          </select>

      </div>

    </div> --}}
    <input type="hidden" name="verification_email" value="anuttgens@gmail.com" />
    <input type="hidden" name="admin" value="true" />
  {{/unless ~}}
</div>

<input type="hidden" name="external_id" value="{{data.auth.uid}}" />

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var $dobc = $('#date_of_birth_checked');
    var $dob = $('#date_of_birth');
    var $v_block = $('#verification')
    var $v_email = $('#verification_email')

    function dateMunge(aDate){
      var dd = aDate.getDate();
      var mm = aDate.getMonth()+1; //January is 0!
      var yyyy = aDate.getFullYear();
      if(dd<10){
        dd='0'+dd
      }
      if(mm<10){
        mm='0'+mm
      }

      dateVar = yyyy+'-'+mm+'-'+dd;
      return dateVar;
    }
    var maxDate = new Date();
    maxDate.setFullYear(maxDate.getFullYear() - 12);

    var minDate = new Date();
    minDate.setFullYear(minDate.getFullYear() - 25);


    $dob.attr({
      "max" : dateMunge(maxDate)
    });

    $dobc.attr({
      "max" : dateMunge(maxDate),
      "min" : dateMunge(minDate)
    });

    $dobc.change(function(){
       var dob = $dobc.val();
      var compareDate = new Date();
      var dobTS = Date.parse(dob);
      compareDate.setFullYear(compareDate.getFullYear() - 13);

      var cdTS = compareDate.getTime();
      if (dobTS > cdTS) {
        $v_email.prop('required', true);
        $v_block.show();
      } else {
        $v_email.prop('required', false);
        $v_block.hide();

      }
    })
  })
</script>