{{#withExtend this hasPostcode=(if @root.data.accountInfo.local_authority true else=false)}}

<div class="form-horizontal form">
  {{!--
  Fake fields are a workaround for chrome autofill getting the wrong fields
  I don't know man, got it from here https://stackoverflow.com/a/15917221/98587
  --}}
  <input style="display:none" type="text" name="fakeusernameremembered"/>
  <input style="display:none" type="password" name="fakepasswordremembered"/>
  <div class="form-group">
    <div class="column col-3 col-sm-12">
      <label class="form-label" for="first_name">First name</label>
    </div>
    <div class="column col-9 col-sm-12">
      <input class="form-input" id="first_name" name="first_name" type="text" value="{{@root.data.accountInfo.first_name}}" placeholder="" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="focus-next" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.first_name}}>
    </div>
  </div>
  <div class="form-group">
    <div class="column col-3 col-sm-12">
      <label class="form-label" for="last_name">Last name</label>
    </div>
    <div class="column col-9 col-sm-12">
      <input class="form-input" id="last_name" name="last_name" type="text" value="{{@root.data.accountInfo.last_name}}" placeholder="" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="focus-next" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.last_name}}>
    </div>
  </div>
  <div class="form-group">
    <div class="column col-3 col-sm-12">
      <label class="form-label" for="date_of_birth">Date of birth</label>
    </div>
    <div class="column col-9 col-sm-12">
      {{#unless @root.data.accountInfo.date_of_birth ~}}
        <input class="form-input" id="date_of_birth_checked" {{#if admin}}max="{{momentFormat (dateMath 'now-13y') 'YYYY-MM-DD'}}" min="{{momentFormat (dateMath 'now-120y') 'YYYY-MM-DD'}}"{{else}}max="{{momentFormat (dateMath 'now-12y') 'YYYY-MM-DD'}}" min="{{momentFormat (dateMath 'now-27y') 'YYYY-MM-DD'}}"{{/if}} name="date_of_birth" type="date" value="{{@root.data.accountInfo.date_of_birth}}" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="focus-next" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.date_of_birth}}>
      {{else}}
        <input class="form-input" id="date_of_birth_checked" name="date_of_birth_checked" type="date" value="{{@root.data.accountInfo.date_of_birth}}" autocomplete="nope" data-lpignore="true" disabled>
        <input type="hidden" name="date_of_birth" value="{{@root.data.accountInfo.date_of_birth}}">
        <div class="caption">
          If your date of birth is incorrect here please <a href="mailto:{{>support_email_address}}">contact us</a>.
        </div>
      {{/unless ~}}
    </div>
  </div>

  {{#unless admin ~}}
    <div class="form-group" id="verification" style="display:none;">
      <div class="column col-3 col-sm-12">
        <label class="form-label" for="verification_email">Your parent or guardian's email address</label>
      </div>
      <div class="column col-9 col-sm-12">
        <input class="form-input" id="verification_email" name="verification_email" type="text" value="{{@root.data.accountInfo.verification_email}}" placeholder="" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="focus-next" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.verification_email}}>
      </div>
    </div>
    <div class="form-group">
      <div class="column col-3 col-sm-12">
        <label class="form-label" for="school_college_name">School/college name</label>
      </div>
      <div class="column col-9 col-sm-12">
        <input class="form-input" id="school_college_name" name="school_college_name" type="text" value="{{@root.data.accountInfo.school_college_name}}" placeholder="" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="focus-next" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.school_college_name}}>
      </div>
    </div>
  {{else}}
    <div class="form-group">
      <div class="column col-3 col-sm-12">
        <label class="form-label" for="title">Job title</label>
      </div>
      <div class="column col-9 col-sm-12">
        <input class="form-input" id="title" name="title" type="text" value="{{@root.data.accountInfo.title}}" placeholder="" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="focus-next" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.title}}>
      </div>
    </div>
    <div class="form-group">
      <div class="column col-3 col-sm-12">
        <label class="form-label" for="phone">Phone number</label>
      </div>
      <div class="column col-9 col-sm-12">
        <input class="form-input" id="phone" name="phone" type="text" value="{{@root.data.accountInfo.phone}}" placeholder="" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="focus-next" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.phone}}>
      </div>
    </div>
    <input type="hidden" name="admin" value="true" />
  {{/unless ~}}
  <input type="hidden" name="email" value="{{@root.data.auth.email}}">
  <div class="form-group">
    <div class="column col-3 col-sm-12">
      <label class="form-label" for="postcode">{{#if admin}}Work postcode{{else}}Home postcode{{/if}}</label>
    </div>
    <div class="column col-2 col-md-3 col-sm-4 col-xs-5">
      <div class="has-icon-right d-inline-block">
        <input class="form-input" id="postcode" name="postcode" type="text" value="{{@root.data.accountInfo.postcode}}" placeholder="" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="postcode-lookup" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.postcode}}>
        <i class="form-icon fas {{#if hasPostcode}}fa-check-circle text-success{{else}}fa-times-circle text-error{{/if}}" id="postcode-validation-icon"></i>
      </div>
    </div>
  </div>
  <input type="hidden" name="local_authority" id="local_authority" value="{{@root.data.accountInfo.local_authority}}" />
  <input type="hidden" name="tsi_area" id="tsi_area" value="{{@root.data.accountInfo.tsi_area}}" />
  <input type="hidden" name="tsi_contact_email" id="tsi_contact_email" value="{{@root.data.accountInfo.tsi_contact_email}}" />
</div>

<input type="hidden" name="external_id" value="{{@root.data.auth.uid}}" />

{{{{raw}}}}
<script data-component-config="postcode-lookup" type="javascript/blocked">
  {
    blur: { tasks: ["postcode-lookup"] },
    keyup: { tasks: ["postcode-lookup"] },
  }
</script>




<script data-task="postcode-lookup" type="javascript/blocked">
{
  type: "multiTask",
  config: {
    tasks: [
      {
        type: "switch",
        config: {
          which: { __template: "{{#regexMatch (jquery '#postcode' 'val') '[a-z]{1,2}[0-9]{1,2}[a-z]?\\s?[0-9][a-z]{2}' 'ig'}}check{{/regexMatch}}" },
          branches: {
            default: {
              tasks: [
                {
                  type: "elementManipulator",
                  config: {
                    "#postcode-validation-icon": { addClass: [ "fa-times-circle", "text-error" ], removeClass: [ "loading", "fa-check-circle", "text-primary", "text-success" ] },
                    "#local_authority": { value: "" },
                    "#tsi_area": { value: "" },
                    "#tsi_contact_email": { value: "" }
                  }
                }
              ]
            },
            check: {
              __doNotCompile: true,
              tasks: [
                {
                  type: "elementManipulator",
                  config: { "#postcode-validation-icon": { addClass: [ "loading", "text-primary" ] , removeClass: [ "fa-check-circle", "fa-times-circle", "text-error", "text-success" ] } }
                },
                {
                  name: "postcodeLookup",
                  type: "request",
                  config: { url: { __template: "/postcode-lookup?q={{jquery rootElement 'val'}}" } }
                },
                {
                  __doNotCompile: true,
                  type: "switch",
                  config: {
                    which: { __template: "{{#any data.postcodeLookup}}found{{/any}}" },
                    branches: {
                      default: {
                        tasks: [
                          {
                            type: "elementManipulator",
                            config: {
                              "#postcode-validation-icon": { addClass: [ "fa-times-circle", "text-error" ], removeClass: [ "loading", "fa-check-circle", "text-primary", "text-success" ] },
                              "#local_authority": { value: "" },
                              "#tsi_area": { value: "" },
                              "#tsi_contact_email": { value: "" }
                            }
                          }
                        ]
                      },
                      found: {
                        tasks: [
                          {
                            type: "elementManipulator",
                            config: {
                              "#postcode-validation-icon": { addClass: [ "fa-check-circle", "text-success" ], removeClass: [ "loading", "fa-times-circle", "text-primary", "text-error" ] },
                              ">": { value: { __template: "{{data.postcodeLookup.[0].place}}" } },
                              "#local_authority": { value: { __template: "{{data.postcodeLookup.[0].local_authority}}" } },
                              "#tsi_area": { value: { __template: "{{data.postcodeLookup.[0].tsi_area}}" } },
                              "#tsi_contact_email": { value: { __template: "{{data.postcodeLookup.[0].tsi_contact_email}}" } }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "validate-details-form"
    ]
  }
}
</script>
{{{{/raw}}}}



<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var $dobc = $('#date_of_birth_checked');
    var $dob = $('#date_of_birth');
    var $v_block = $('#verification')
    var $v_email = $('#verification_email')

    $dobc.change(function(){
       var dob = $dobc.val();
      var compareDate = new Date();
      var dobTS = Date.parse(dob);
      compareDate.setFullYear(compareDate.getFullYear() - 13);

      var cdTS = compareDate.getTime();
      if (dobTS > cdTS) {
        $v_email.prop('required', true);
        $v_block.show();
      } else {
        $v_email.prop('required', false);
        $v_block.hide();

      }
    })
  })
</script>
{{/withExtend}}